[2022-04-19 16:58] psugihara opened #1 "Split packages so that CLI and dependencies can be included as devDependencies"
There are 2 natural `mailing` packages.

`mailing/core` -- this is the mailing stuff that we must include to render emails in prod
`mailing/cli` -- this is the preview server and generators, includes typescript deps and stuff that will only be used when developing emails

Not sure the best way of splitting (but we should keep them in this repo). Maybe npm or yarn workspaces.

- [ ] split them up
-

[2022-06-23 00:17] #1 closed, assigned to nobody

[2022-06-24 00:07] psugihara opened #3 "Integration tests for preview server intercept routes"

[2022-06-24 00:10] psugihara opened #4 "e2e next.js test"
An automated test that did this would be very cool:

- create a new next app
- run mailing to add emails directory in default location
- ensure dev server boots
- send an email from an api route
- do the same in a typescript nextjs app

[2022-06-24 17:10] psugihara opened #5 "Add chrome around preview with to, from, subject"

[2022-06-28 20:41] #5 closed, assigned to psugihara

[2022-06-28 23:09] psugihara opened #7 "Favicon for the mail previews"
🤗

<img width="409" alt="Screen Shot 2022-06-28 at 4 09 04 PM" src="https://user-images.githubusercontent.com/282016/176319006-bf8890b4-181b-4341-9035-fbfd5cd9adc9.png">

[2022-06-30 17:21] psugihara opened #9 "Make index look nice"
This page...

<img width="1233" alt="Screen Shot 2022-06-28 at 1 54 42 PM" src="https://user-images.githubusercontent.com/282016/176738745-59c4b147-f01a-40f9-b6fb-9fdbc1385f6a.png">

[2022-07-01 17:03] psugihara opened #11 "Nice email template examples"

[2022-07-02 00:09] #7 closed, assigned to psugihara, monicakogler

[2022-07-02 02:53] psugihara opened #12 "Use react views in preview server"
Currently the preview server just renders mjml components to strings. It would be nice to have hotkeys, modals, etc so we want react with the server-rendered mjml in an iframe.

Would it be possible to use next.js for the preview server? The task is to investigate how to support normal client-side react in the preview server.

https://github.com/psugihara/mailing/blob/main/packages/cli/src/command

[2022-07-08 17:11] #12 closed, assigned to nobody

[2022-07-09 00:15] #11 closed, assigned to monicakogler

[2022-07-09 02:55] #9 closed, assigned to monicakogler

[2022-07-09 02:55] monicakogler opened #18 "navigation"
<img width="1359" alt="Screen Shot 2022-07-08 at 7 55 24 PM" src="https://user-images.githubusercontent.com/609038/178089023-925221ab-68bf-4837-bb55-0b9517fcbbd2.png">

[2022-07-09 03:33] psugihara opened #19 "nextjs intercept emails"

[2022-07-09 03:37] psugihara opened #20 "add video to readme"

[2022-07-09 05:38] #19 closed, assigned to psugihara

[2022-07-10 03:26] psugihara opened #22 "add hotkeys"
<img width="238" alt="Screen Shot 2022-07-09 at 8 26 27 PM" src="https://user-images.githubusercontent.com/282016/178130084-bc54839f-c935-44f6-942e-01fa784682bb.png">

[2022-07-10 23:47] #22 closed, assigned to psugihara

[2022-07-13 17:38] #18 closed, assigned to nobody

[2022-07-15 19:32] psugihara opened #25 "send preview ui shows success upon failure"
<img width="342" alt="Screen Shot 2022-07-15 at 12 31 14 PM" src="https://user-images.githubusercontent.com/282016/179297948-23d1a279-eb43-4cec-8e08-1d74d2ae49a4.png">
<img width="629" alt="Screen Shot 2022-07-15 at 12 32 12 PM" src="https://user-images.githubusercontent.com/282016/179297995-8820f732-bcb5-458e-98ff-ca1878a51ccb.png">

[2022-07-15 19:38] psugihara opened #26 "welcome email doesn't look so great in gmail"
not sure if webfonts are possible, but fallback should be a sans-serif font.

<img width="1208" alt="Screen Shot 2022-07-15 at 12 37 22 PM" src="https://user-images.githubusercontent.com/282016/179298869-0cbe8db2-c9b3-42bd-b036-1e918a625f9b.png">

[2022-07-15 19:51] #25 closed, assigned to psugihara

[2022-07-15 20:12] #26 closed, assigned to psugihara

[2022-07-15 20:33] psugihara opened #27 "Show mjml compilation errors in browser previews"
Sometimes there are mjml compilation errors returned from the render function as well as valid HTML. Currently we display the preview if there's any html but abort sending the email if there are any errors. So you may think you have a good email and it'll only fail when you try to send. Instead, it would be better to display the errors on the preview page so that you know to fix them.

[2022-07-17 18:50] psugihara opened #28 "Find and use an unused port if 3883 is taken"

[2022-07-18 17:24] alexfarrill opened #29 "hn launch"
## Explanation
- [x] Add video to README

## Manual test
- [x] test next.js app
- [x] test Redwood js app
- [x] test remix app

[2022-07-18 17:47] psugihara opened #31 "easily deploy previews to web for design QA/demo purposes (e.g. `mailing build` -> static site)"
command could also be `mailing export` (might be better since this is not required for production)

[2022-07-18 18:17] #20 closed, assigned to nobody

[2022-07-18 18:42] alexfarrill commented on #27
Example: render an `MjmlImage` block with an invalid value, e.g. `width="300"` (omitting "px").  The MJML compiler outputs an error to the console, but the preview renders fine.  Instead, the preview should show the error or direct the user to the console.

[2022-07-18 20:45] psugihara opened #33 "Easy theme variables"
We should seed your emails directory with nice conventions.

In a real project we'd use a file with shared color and style variables, so it might be useful if we did that with our demo templates as well.

I think one of these structures could work:

- `emails/theme.ts` with all the theme variables
or
- `emails/theme/colors.ts`, `emails/theme/spacing.ts`, etc (idk if there are more)

This way small

[2022-07-19 05:06] psugihara opened #37 "js support"
At the moment mailing only integrates well in a ts project. I removed the JS support in #30 because it wasn't working. Requiring jsx templates was blowing up on es6 imports.

Plan:
- bring back js generators and init prompt from #30
- figure out how to make es6 `import` working

[2022-07-19 19:29] alexfarrill commented on #27
fixed by https://github.com/psugihara/mailing/pull/36

[2022-07-19 19:29] #27 closed

[2022-07-19 21:29] alexfarrill opened #39 "create default set of tests for your application during setup"
At the same time as scaffolding the emails directory, it would be nice if it added a `__tests__/emails` directory with a default set of tests.  wdyt?

[2022-07-20 04:44] psugihara opened #41 "template generator command"
It would be nice to be able to generate a new template + preview file.

Could be something like this:

`mailing generate MyEmailTemplate` (w rails style alias `mailing g`)

creates files
- `emails/MyEmailTemplate.jsx`
- `emails/previews/MyEmailTemplate.jsx`

[2022-07-20 16:19] psugihara commented on #39
2 thoughts, one on "why" and one on "how"

1. I think integration tests with the emails are really useful (e.g. I hit this endpoint and it sends an email with content matching X), but I wonder about the efficacy of unit testing the templates themselves since they just render to static html can't really have much logic. I'm sure there are edge case complicated templates where it makes more sense bu

[2022-07-20 16:21] psugihara commented on #39
I def like the thrust of seeding with best practices, but this one is tricky because it kind of sits on the boundary of what the email utility should do vs the web framework.

[2022-07-20 17:57] psugihara opened #42 "remove hard reload"
Spotted a small regression with the change to make error messages display. It's doing a hard reload rather than refetching the html. This makes it feel a bit slower because it has to do 2 fetches and more rendering. Instead, let's re-trigger the fetch and just reload the iframe content.

[2022-07-20 18:15] alexfarrill commented on #39
True, unit tests not that useful in this context, frameworks will vary.  Let's close for now

[2022-07-20 18:15] #39 closed

[2022-07-21 16:41] psugihara opened #44 "link to more useful/specific doc for configuring transport"
<img width="376" alt="Screen Shot 2022-07-21 at 9 40 33 AM" src="https://user-images.githubusercontent.com/282016/180268038-18d9eeda-096c-4918-9742-a52aa472328c.png">

@alexfarrill you mentioned this the other day. I think it's a good idea, wanted to capture.

[2022-07-21 20:14] alexfarrill commented on #44
Added an anchor tag to the README section we already had about transport and a linked to it in PreviewSender

[2022-07-21 20:14] #44 closed

[2022-07-21 20:16] psugihara commented on #44
nice!

[2022-07-21 21:36] monicakogler opened #45 "prev/next hotkey navigation"
adds prev/next hotkeys for quickly cycling through templates. useful when, for example, doing QA on a design system update, variations on a preview function, etc.

[2022-07-22 16:50] psugihara commented on #29
https://news.ycombinator.com/item?id=32193506

[2022-07-22 16:58] #29 closed

[2022-07-22 23:17] psugihara opened #48 "get e2e tests running in CI"
`yarn e2e` runs these locally. They are run before release and ensure compatibility in different operating environments (next, redwood, remix, standalone).

[2022-07-23 00:07] psugihara opened #49 "npm missing readme"
The README is missing on npm because it's in the root of the monorepo and not included with the package. We could either copy it in with the copy:files script or maybe a symlink would work.

https://www.npmjs.com/package/mailing

[2022-07-23 02:48] #49 closed

[2022-07-23 18:26] psugihara opened #50 "Blogpost: mailing architecture, embedding a next.js site inside of an npm package"
It took me a while to figure out how to make the embedded next.js app work. [This post](https://www.grouparoo.com/blog/distributing-nextjs-via-npm) was helpful, but didn't talk about how to boot the app in the library.

Could be a helpful thing to write a post on and also explain the architecture of the preview server  for people working on mailing or trying to build similar tools.

[2022-07-25 05:17] psugihara commented on #31
https://mailing.run

[2022-07-26 09:36] alan-francis opened #54 "Get the generated HTML email templates through API"
Hi,

Is there a way to get the created and tested HTML email templates via api so that we can send the email from other applications.

Thanks in advance
Alan

[2022-07-26 14:34] psugihara commented on #54
Hey @alan-francis! Currently there is not, but I'd be happy to add a command to the CLI that exported just the templates to HTML. Would that work for you?

Can you tell me a little more about your use-case and where you want to send the emails from?

[2022-07-27 01:25] #37 closed

[2022-07-27 03:09] alan-francis commented on #54
Thanks  for the reply @psugihara . Actually my use case will be to send email from the db function in the application. So it would be great if we can build and test the email templates here and then while calling an api from the db function, we can get the HTML template and send the mail from there.

Thanks
Alan

[2022-07-27 06:21] psugihara commented on #54
OK, that makes sense: you want to pass props and have it render the template.

I think it would be relatively straightforward to expose an API that did that if you run mailing on a server.

@alan-francis is a REST API good for you?

Something like...

[code]

would return

[code]

Or let me know if you were thinking something else.

cc @alexfarrill

[2022-07-27 06:35] alan-francis commented on #54
@psugihara : Yes that would be great so that it would be easy to create templates and then use it with just a REST API call.

[2022-07-27 14:39] psugihara commented on #54
OK cool, I got this request in a different forum too. I'll investigate how we can implement. Thanks for the feedback @sebasalvarado and @alan-francis, will ping you here when I have something.

@sebasalvarado out of curiosity, what kind of backend are you in?

[2022-07-27 14:40] sebasalvarado commented on #54
@psugihara I'm on a Node.js backend. Just a regular Express REST API.

[2022-07-27 15:00] psugihara commented on #54
Got it @sebasalvarado. If you're in a node environment where you're not already using react, you might try adding `react` and `react-dom` as dependencies and using something like this (or [babel](https://babeljs.io)) to import the jsx files: https://github.com/vadimdemedes/import-jsx

It's a bit hacky, but you won't have to run an extra server process if you can get it to work as a library.

[2022-07-27 19:27] sebasalvarado commented on #54
thanks @psugihara looks like I'm unable to make `import-jsx` work with my configuration.

When using `import-jsx` how do we pass the props to the react component? Ideally I could serialize the component (with props) as an HTML string. Would babel need to be added to my `npm run start` and `npm run build` commands? Not sure where it fits in bundling.

You can see that when I pass `<UserRegistered /

[2022-07-27 19:38] psugihara commented on #54
In order for it to be parsed, the JSX has to be in a file with a `.jsx` extension. What you have above looks like a valid jsx file, so you could try renaming it.

One unrelated note, sendEmail is an async function if you imported it from emails/index so you'll want to `await sendEmail(emailOptions);` to wait for it to send.

If you're in a plain js file and don't want to/can't use jsx for some rea

[2022-07-27 19:59] sebasalvarado commented on #54
Actually, the image above is a `.ts` file, running on my node process in the server. I'm importing a JSX component like so:

[code]

Do I need to add `babel` to compile the JSX files? I am using `.tsx` to write the React component for the email.

![image](https://user-images.githubusercontent.com/15041987/181360831-4880afc5-1fdc-4716-8c81-86360fe0d158.png)

![image](https://user-images.githubuserc

[2022-07-27 20:04] psugihara commented on #54
Got it, then try renaming that file from `.ts` to `.tsx`. It's invalid `ts` but valid `tsx`. I'm guessing your ts compiler has tsx support built in but you might need to toggle something in the config.

Otherwise, try the non-tsx/jsx syntax here for your sendMail call: https://reactjs.org/docs/react-without-jsx.html

[2022-07-27 20:06] psugihara opened #58 "mailing render server API; production mode"
## Context

A few users have asked for a method of running mailing as a standalone process with an HTTP API. They'd like to use it from backends that don't have access to react or can't consume nodejs packages. The new API would have one endpoint that renders a template to HTML with input props.

Thanks to @sebasalvarado, @alan-francis, and @jdotjdot for describing the use-cases in #54.

## Design

[2022-07-27 23:51] jdotjdot commented on #58
Another thought on how to deploy it: I'd be pretty fine with "production mode" for this actually being a small binary or some way to package it up as a lambda or similar, since I would imagine most production calls would take the form of "send props, get back HTML", potentially also with a validation step of some sort.  I don't necessarily need an entire server for this, I'd be fine to have this s

[2022-07-28 01:09] psugihara commented on #58
@jdotjdot do you happen to have an example of a library that you think does this well? Examples I've seen of this (e.g. [postgraphile](https://github.com/graphile/postgraphile-lambda-example) 💙) usually build out an example repo on one platform rather than a portable feature built into the library.

My default for a serverless deployment of `mailing` would be shipping a next.js app to vercel and i

[2022-07-28 04:48] alan-francis opened #60 "Is there an issue with starting the service ?"
Is there an issue with starting the service which I am experiencing right now.
![Screenshot 2022-07-28 101527](https://user-images.githubusercontent.com/39818587/181422746-c49dd21e-bd73-406b-95b9-01053d2b2b60.png)

Anything I am missing?

Thanks in advance

[2022-07-28 14:32] psugihara commented on #60
Hm, those installation warnings should be OK but there should be more output after "Starting preview server".

Is there something running on port 3883? I've seen it do that when I already have mailing running in a different terminal (I'd like to fix that with a more helpful message).

What does your package.json look like?

[2022-07-28 14:41] psugihara opened #61 "Fail gracefully on startup when mailing is already running"
The preview server seems to just hang when the server is running in a different terminal. This may be what's happening in #60.

Instead we should say that the port is already taken and exit with code 1.

[2022-07-28 16:44] psugihara commented on #28
Closing in favor of #61 because I don't see a use-case for running 2 preview servers and the other is simpler and more debuggable behavior.

[2022-07-28 16:44] #28 closed

[2022-07-29 02:43] alan-francis commented on #60
Hi, please have a look at  the screenshot below. I am using Ubuntu 20.04.4 LTS in a WSL.

![Screenshot 2022-07-29 080921](https://user-images.githubusercontent.com/39818587/181671480-dbdfa490-3046-467b-82c0-4220125aed00.png)

Thanks

[2022-07-29 14:48] #61 closed

[2022-07-29 14:55] psugihara commented on #60
Great info, @alan-francis.

To my eyes the deps look good, though I'd try adding `react` and `@types/react-dom`.

Either way, I'll attempt to repro this weekend and see what I can find out.

Apologies for the bugs, I really appreciate your help as we sand out the rough edges.

[2022-08-02 03:17] #31 closed

[2022-08-02 17:36] psugihara commented on #60
Hey @alan-francis, sorry for the delay. This worked on my macbook (`react` was added and `mailing` updated to latest). I'll add `react` and `react-dom` to the install scripts in the README. I was figuring people would be using this in a context where they already had both installed, but cool to see other contexts.

<img width="567" alt="Screen Shot 2022-08-02 at 10 32 59 AM" src="https://user-imag

[2022-08-02 18:27] alexfarrill opened #69 "Support a standalone option for the mailing server"
- Add to the README: React and React-dom
- Is there a nicer way to support it?

[2022-08-02 19:53] psugihara opened #70 "Collect developer emails in CLI to let them know about future releases"
I think this could happen after creating the email directory and before booting the preview server.

"Enter your email to subscribe to updates about mailing:"

It could then POST to an api route on packages/web for storage somewhere...

[2022-08-02 19:58] psugihara opened #71 "Included email templates should support dark mode"
Small thing, but we should have the _**best**_ email templates. Right now they show as white all the time 🤷. Pretty sure inverting all the colors would be good (and perhaps just not setting a color for background).

[2022-08-02 21:23] neuxregime opened #72 "Unable to send email from Next.js API route in production"
Hey there! I've been exploring mailing for the past two days and everything was going great until decided to test some production scenarios. Put simply, everything works as long as preview server is running: templates are compiled, and emails are successfully sent via sendgrid.

However, as soon as I stop the preview server to test actual functionality, I start running into issues, primarily email

[2022-08-02 21:43] neuxregime commented on #72
issue resolved with `forceDeliver`

[code]

[2022-08-02 21:43] #72 closed

[2022-08-02 22:18] mrlubos opened #73 "Running without importing React?"
Hey! Loving this project, this is exactly what I was after for a long time (https://github.com/wix-incubator/mjml-react/issues/37). I am playing around with the boilerplate and I discovered a few issues I will report in this project. The first one is whether it's possible to run this project without importing React? I copy-pasted my tsconfig from another project that supports this, but running `ma

[2022-08-02 22:22] mrlubos opened #74 "Setup improvement idea (unclear interactive CLI tool configuration)"
When running `mailing` for the first time, the interactive tool asks the following question:

[code]

This doesn't make it clear that the only allowed values here are `./emails` and `./src/emails`. This should either be documented or refactored to truly allow custom values. Answering this question with `./src/mailing` will not work with the preview and there's currently no way to fix this.

[2022-08-02 22:22] mrlubos commented on #54
+1

[2022-08-02 22:29] mrlubos opened #75 "Generate proper project boilerplate on init"
Similarly to other tools such as CRA, it would be nice if `mailing` generated a complete project boilerplate including `package.json` and `README` describing which scripts are available and what they do. The project currently makes some assumptions about how the user runs and serves the templates (e.g. no `build` command for raw HTML), this should be documented too.

[2022-08-02 23:36] psugihara commented on #74
Ah great catch, thank you. I think we should add a key to the package.json with some config to store the file location...

[code]

[2022-08-02 23:45] psugihara commented on #75
The project definitely makes the assumption that you're using it in a react app and we've tested with next.js, redwood, and remix (in js and ts). A standalone mode with project generation would be great.

This goes well with https://github.com/successor-software/mailing/issues/69 and I think would have helped in #60

Can you tell me a bit about your use-case and what input/output you're looking fo

[2022-08-02 23:49] psugihara commented on #73
No, your project must have react imported for it to work. Mailing doesn't provide its own version because we imagined most people would be running this inside of a next.js app and running multiple versions of react at the same time can cause issues.

I like your idea in #75 and think we should generate the tsconfig + package.json with all necessary deps with that command so that users don't have t

[2022-08-03 00:25] mrlubos commented on #73
Hey @psugihara, thanks for all your replies. Just to clear any potential confusion, I am asking if instead of the default boilerplate component like this

[code]

I could simply write my components like this

[code]

Next.js [seems to support this syntax](https://nextjs.org/docs/upgrading#react-16-to-17). Can you confirm if this is something I need to update in my configuration or it's on `mailing

[2022-08-03 00:26] mrlubos commented on #74
@psugihara That sounds good! Personally, I'd prefer a separate config file or an option to use one instead of `package.json`

[2022-08-03 00:40] mrlubos commented on #75
@psugihara Sure. I have an existing project where I created my own "`mailing`" package and used it to develop email templates. Our email infrastructure definitely needs some love, but it is what it is, so... we have a client written in TypeScript (CRA boilerplate), server written in Python (FastAPI), and emails hosted in SendGrid. The server sends requests to SendGrid with customization data and S

[2022-08-03 03:31] psugihara commented on #73
Ah gotcha, thanks so much for clarifying. Yes, at the moment `mailing` requires React to be imported but I think it totally makes sense to support tsx and jsx files without it in the future like next does. In general I want next to have first-class support and this is a great example of something that will make dropping it into a next app simpler.

Now just need to figure out how to implement it :

[2022-08-03 16:11] psugihara commented on #58
I went ahead and built out a serverless API proof of concept with vercel here: https://github.com/psugihara/mailing-serverless-api

Still trying to decided the best way to proceed with a  built-in server mode, but it seems like an easy deployment method like this could be built into mailing.

[2022-08-03 18:16] psugihara commented on #74
yeah I like that too, mailing.config.json

[2022-08-03 19:17] psugihara opened #76 "Add open graph meta to mailing.run so it shows up well on twitter"

[2022-08-03 21:14] #73 closed

[2022-08-03 21:16] #76 closed

[2022-08-03 22:10] psugihara commented on #54
mentioned in #58, but worth surfacing here too...

I went ahead and built out a serverless API proof of concept with vercel here: https://github.com/psugihara/mailing-serverless-api

Still trying to decided the best way to proceed with a built-in server mode / html API, but something like this is a possibility.

[2022-08-03 22:15] psugihara commented on #72
awesome, sorry I missed this @neuxregime.

Glad you figured it out (if `process.env.NODE_ENV !== "production"` then it will try to open in the preview server). Here's the bit or relevant logix: https://github.com/successor-software/mailing/blob/main/packages/core/src/index.ts#L60

lmk if you need any other help (or feel free to hit me up directly).

[2022-08-03 23:09] neuxregime commented on #72
Thank you for the response. I actually ended up in the same LOC when inspecting my issue!

[2022-08-04 00:35] mrlubos commented on #75
@psugihara i will have a look over the weekend/next week and respond, thanks for the suggestions!

[2022-08-04 02:06] psugihara commented on #75
sounds good. excited to help get you up and running.

[2022-08-04 03:33] psugihara opened #80 "Livereload not working with components"
@monicakogler found an issue with live reloading components. Templates live reload fine, but components do not do so reliably without restarting the preview server.

I think this is because the component gets uncached by the watcher and the preview file gets uncached by the previews controller, but the template does not get removed from the cache so it contains the cached component still.

One sol

[2022-08-04 15:13] monicakogler opened #82 "Immersion UI: dark mode"
This can be a global switch, we only need a dark mode now.

I think it's mostly just changing backgrounds and font colors.

black #11111
white #E4EBFA

<img width="888" alt="Screen Shot 2022-08-25 at 4 28 56 PM" src="https://user-images.githubusercontent.com/282016/186786388-8ae44392-64af-40dc-aa70-45d8b626306c.png">

[2022-08-04 18:33] #80 closed

[2022-08-04 18:52] psugihara commented on #60
Closing for now but lmk if you're still having issues!

[2022-08-04 18:52] monicakogler commented on #71
https://github.com/successor-software/mailing/pull/85

[2022-08-04 18:52] #71 closed

[2022-08-04 18:56] psugihara opened #86 "Add generated HTML to preview UI"
<img width="1440" alt="Screen Shot 2022-08-04 at 11 57 12 AM" src="https://user-images.githubusercontent.com/282016/182931674-4ae1c35e-9f04-4ea6-919c-78554f024836.png">

[2022-08-04 19:00] psugihara opened #87 "Style blog"

[2022-08-04 19:11] alexfarrill commented on #69
dupe of #75

[2022-08-04 19:11] #69 closed

[2022-08-05 04:00] alan-francis commented on #60
Hi @psugihara , thank you for the reply. But I am still getting errors.
![Screenshot 2022-08-05 092423](https://user-images.githubusercontent.com/39818587/182998403-db448ab6-8961-4f7b-8737-0f79df412404.png)

Thanks in advance

[2022-08-05 08:19] cymen opened #89 "Is it possible to use .env files?"
I have a project with a `.env` file in the root and I use `import "dotenv/config";` to load the `.env` to `process.env`. I didn't realize it at first but this is not working with `email/index.ts` as the env values I'd expect to be defined (present in my `.env`) are not set on `process.env`.

[2022-08-05 08:20] cymen opened #90 "Using console.log in `email/index.ts` does not log anything"
While digging into https://github.com/successor-software/mailing/issues/89 it was confusing to not be able to log anything from `email/index.ts`.

[2022-08-05 15:38] psugihara commented on #90
Hm, I'm seeing it work on my end. Perhaps the file wasn't imported yet? Here's what I see when the index file with `console.log`  gets required by mailing to send an email...

<img width="1440" alt="Screen Shot 2022-08-05 at 8 36 47 AM" src="https://user-images.githubusercontent.com/282016/183111919-3fa26537-5b89-47f2-9eed-26727764f1c0.png">
<img width="493" alt="Screen Shot 2022-08-05 at 8 38 00

[2022-08-05 15:52] psugihara commented on #60
@alan-francis sorry about that. can you try updating `mailing` and `mailing-core` to latest? There was a bugged release that you might have gotten (my bad!).

For clarity, I made a little example app here: https://github.com/successor-software/mailing-standalone-app

We really appreciate you trying it out, sorry for bugs. Let me know if you hit anything else or have feature requests as you use it.

[2022-08-05 15:55] psugihara commented on #89
Hm, I'm guessing what's happening here is that you're seeing this behavior when sending from the mailing UI because the `import "dotenv/config";` is somewhere else in your app. Could that be the case?

If you add it to the top of `email/index.ts` does it work?

[2022-08-05 15:56] psugihara commented on #89
That said, I think this is probably common enough that mailing should include `dotenv/config` internally and run it on every CLI command.

[2022-08-05 17:22] cymen commented on #90
I discovered that this is due to having `"isolatedModules": true` in my root `tsconfig.json` under `compilerOptions`. If I comment that out, the console logging works. I discovered this by running:

[code]

And if `isolatedModules` is enabled, there is an error message:

[code]

I don't get any error when running `npx mailing` but at least it makes sense! I only wanted this while figuring out http

[2022-08-05 17:22] #90 closed

[2022-08-05 17:24] psugihara commented on #90
got it, thanks for digging in. fyi i'm adding dotenv to the mailing cli right now and will have a new release out later today that will hopefully fix the prob you're having in #89.

[2022-08-05 17:30] cymen commented on #89
I was actually adding the `import "dotenv/config";` to the top of `emails/index.ts` (I kept writing `email` as the directory above but was tired last night -- I'm using the default locations).

Oddly enough today it is all working. I thought it was due to `isolatedModules` in my root `tsconfig.json` as mentioned in https://github.com/successor-software/mailing/issues/90 but I'm flipping that on an

[2022-08-05 17:35] cymen commented on #89
I edited `emails/index.ts` to change the contents of a `console.log` and it's updating without restarting (wasn't sure if that would be the case) so I'd chalk this up to some kind of odd edge case.

I'll keep trying to reproduce as I use `mailing` but I'm fine with closing this out and can reopen if I can get it to happen again. Sorry for what amounts to noise at the moment.

On a side note, reall

[2022-08-05 18:04] psugihara commented on #89
Nope, at this point everything is in memory.

I think adding dotenv to the CLI so that people don't have to import it themselves is a good simplification, so I appreciate the issue.

Excited `mailing` is useful for you. If you have a minute, you mind telling us a little bit about how you plan to use it and your email stack? Just trying to learn about users so we can figure out what to iron out + h

[2022-08-05 18:42] cymen commented on #89
Sure, I'll send an email about my usage and adding dotenv by default sounds great!

[2022-08-05 19:47] #89 closed

[2022-08-05 21:22] neuxregime opened #93 "ESM support"
Hello again!

I've been using [react-markdown](https://github.com/remarkjs/react-markdown) and running into issues with ESM-only-module support. For the time being I've switched to `marked` to get around these issues with CommonJS, but was wondering if the preview server is capable (or will be capable) of handling ESM libs?

Cheers

[2022-08-05 21:33] psugihara commented on #93
Hey! Yeah that seems possible. I'd guess we need to mess with the options here https://github.com/sofn-xyz/mailing/blob/main/packages/cli/src/commands/preview.ts#L53

How are you using react-markdown with your emails? I want to make sure I test for your use-case.

I'll take a look in the next few days. Thanks for bringing this up.

[2022-08-05 21:55] neuxregime commented on #93
nothing too crazy.
[code]

tysm!

[2022-08-05 22:24] mrlubos commented on #75
@psugihara I looked at your suggestion and my assessment is:

- 1 accomplishes what I need. In fact, my custom implementation does something very similar. It runs a Node script, fetches all templates inside folder, and then outputs everything as HTML. This solution is the closest to my existing process.
- 2 would be the ideal solution for my use case. It would essentially abstract 1 which would be

[2022-08-06 02:04] psugihara commented on #75
@mrlubos thanks, great info.

Yes we will definitely ship #2 in the next few days. I'll ping here when it's ready.

Your setup totally makes sense and I understand the copy pasting now. I  like the idea of having my templates tested and under source control, but there's a nice simplicity to your setup and most importantly it's working.

[2022-08-06 15:36] psugihara opened #96 "Add command to export previews as HTML"
`npx mailing export-previews [dirPath]`

should export previews as html to a directory at `dirPath`

`dirPath` defaults to ./mailing_export

motivated by convo in https://github.com/sofn-xyz/mailing/issues/75#issuecomment-1207048341

[2022-08-06 20:56] #86 closed

[2022-08-06 22:11] mrlubos commented on #75
@psugihara Thanks! Would it be possible to have a pre-render step? Or maybe a different approach if you can think of anything. This is related to Handlebars I mention above. Imagine I write my whole template in mjml and add some Handlebars to it. The standard way to do that is with MjmlHtml component. This will work once rendered and used with SendGrid, but it looks really strange in preview becau

[2022-08-06 22:59] psugihara commented on #75
Cool idea, I think I'm following.

What would you imagine as an interface for the pre-render step? One idea would be using a `mailing.config.js` rather than `mailing.config.json` (similar to `next.config.js`) and letting you specify a hook. Could look something like this...

[code]

Then the preview server would run that hook right after it compiled the react to html and use the output wherever it

[2022-08-06 23:56] mrlubos commented on #75
@psugihara my initial idea was to have an array of plugins, but this would work too. I'm convoluting multiple ideas in this thread, sorry! Maybe this could be discussed once we get all these other issues sorted out

[2022-08-08 16:55] mrlubos opened #101 "Support absolute import paths"
It would be nice if the project could support absolute import paths. For example, the generated files (https://github.com/sofn-xyz/mailing/blob/main/packages/cli/src/generator_templates/ts/emails/TextEmail.tsx#L2) would show `import Head from "components/Head"` instead of `import Head from "./components/Head"`. Based on what I can tell, this behaviour is controlled on these lines https://github.co

[2022-08-08 19:09] psugihara opened #102 "Faster initial load"
Especially in js apps (because of babel?) the initial index load of `previews.json` is very slow (like 4 seconds for the default templates.

ideas to speed this up:
1. warm-up on boot: kick off the module loading asynchronously in the preview.ts handler function
2. speedier module loading: try using swc or a different loader rather than babel
3. rust rewrite (jk)

cc @alexfarrill

[2022-08-08 19:11] alexfarrill commented on #102
The smoke tests currently includes a `wait_for_previews_json!` since this currently causes cypress tests to incorrectly fail.  When this issues is fixed, that wait can likely be removed

[2022-08-08 20:05] mrlubos opened #103 "Mailing interface idea"
When you look at the current [root page](https://demo.mailing.run/) and [template page](https://demo.mailing.run/previews/TextEmail.tsx/accountDeleted), you will notice they're very different. One of the big issues with that template interface is there's no way to go directly to other templates. There's an [open issue](https://github.com/sofn-xyz/mailing/issues/45) to add previous/next buttons to

[2022-08-08 21:52] bruceharrison1984 commented on #89
Just wanted to add this is a great feature to build in. I had to slightly tweak mine because I use a file with a different name:
[code]

Using `debug` helped me figure out that due to the way I have `tsconfig` setup, by base path is the root of the repo, and not the location of `emails/index.ts`.

Great job on this, looking forward to see where it goes!

[2022-08-08 23:47] psugihara commented on #103
Love this idea @mrlubos. And something must be in the air,  @monicakogler was just playing around with a similar design inspired by email clients.

Rough directional mock that includes some thoughts around analytics, A/B testing etc...

<img width="882" alt="Screen Shot 2022-08-08 at 4 41 56 PM" src="https://user-images.githubusercontent.com/282016/183533250-e6465b5d-fc4a-403b-a442-0fa75fa567d9.pn

[2022-08-09 04:13] #4 closed

[2022-08-09 04:14] alexfarrill opened #107 "smoke tests: add remix support"

[2022-08-09 04:14] alexfarrill commented on #107
ts: `yarn create remix . --template=remix --typescript --install`
js: `yarn create remix . --template=remix --no-typescript --install`

[2022-08-09 04:15] alexfarrill commented on #107
[code]

[2022-08-09 04:17] alexfarrill opened #108 "smoke tests: use cached installs of create-framework apps for speed"
this will make the tests a lot faster:
- [ ] store a fresh install of each framework in a runs/cached directory
- [ ] write the md5 to a value in the framework app class
- [ ] compare to an MD5 and copy the fresh install if it matches
- [ ] if it doesn't match, do a fresh install and write it to the cache
- [ ] add an override option to bust and refresh the cache when we want to fetch an updated c

[2022-08-09 21:30] #107 closed

[2022-08-09 21:30] #108 closed

[2022-08-11 20:19] tobdru opened #114 "Custom dir at creation is not used for preview server"
Setup:
[Nx app](https://nx.dev/) with react fe and express be (default setup).

Tried with `npx mailing` and `npx mailing init`

What does it look like:
![image](https://user-images.githubusercontent.com/89079833/184227786-fa8a27ac-6893-44af-a486-8e929774a15c.png)

With a quick dive into the code, i could see, that the `targetEmailsDir` is only used in generators.ts.
Where as the previewPaths are

[2022-08-11 21:00] #96 closed

[2022-08-11 21:44] psugihara commented on #114
Hey there, thanks for looking at this. It's definitely a bug, apologies. I think the prompt is good for first time users so we should ship the config.

I'm on the road today, but there's some prior discussion here:

https://github.com/sofn-xyz/mailing/issues/74

[2022-08-11 21:48] mrlubos commented on #54
@psugihara the latest export previews command works like magic, thanks!

[2022-08-11 21:51] psugihara commented on #54
awesome @mrlubos! We'll do a release later today to get it in the main package.

[2022-08-12 05:24] psugihara commented on #54
released, closing this for now. we can follow up with api stuff in #58

[2022-08-12 05:24] #54 closed

[2022-08-12 05:24] psugihara commented on #54
thanks all!

[2022-08-12 05:31] psugihara commented on #114
Actually i like your idea of killing the prompt and just using the defaults... simpler without the question. I think it's a nice edit.

[2022-08-12 05:43] psugihara opened #115 "Add --emails-dir option"
Let's add support for specifying `--emails-dir` for all commands. We'll use this same functionality for specifying via config file.

- [x] `--emails-dir` should always be used rather than `getExistingEmailsDir` if it's defined
- [x] kill prompt for emails dir in init, use `--emails-dir` with the defaults as a fallback instead

this will remove the bug in #114, #74, https://github.com/sofn-xyz/mail

[2022-08-12 06:18] mrlubos commented on #54
Thanks for the responsiveness @psugihara

[2022-08-12 06:19] mrlubos commented on #115
You're on fire @psugihara!

[2022-08-13 03:22] mrlubos opened #117 "Remove hard-coded port values"
While we can configure the port for our mailing application by using the `--port` CLI flag, searching for "3883" still returns 12 results in 8 files. At least a few of these instances should be replaced with the port value from argument, otherwise the application gets noisy in the console. This is what happens if I execute `mailing preview --port=8080`

[code]

[2022-08-15 15:08] ccarollo opened #119 "Add Text Email Previews"
Add a view that shows what the text rendering of the email will look like.

[2022-08-15 17:35] psugihara commented on #119
Love this idea. I'm guessing you mean for the intercepted emails in dev mode?

So when I do something like this

[code]

the preview that pops up would have a way to toggle to see the "Welcome, amelita" plaintext version.

[2022-08-15 20:53] alexfarrill opened #120 "move e2e tests runs folder out of the project"
having the e2e_tests/runs in the project has some drawbacks:
- it magically uses node_modules in the root directory, so it's not a true test of package requirements, e.g.  moving would make it behave more like it does in the real world
- it causes redwood js install to fail and we currently have to hack around it.  moving would allow us to remove those hacks

[2022-08-16 02:28] #102 closed

[2022-08-16 02:38] monicakogler commented on #119
i added ui in this branch: https://github.com/sofn-xyz/mailing/tree/gh/119-text-previews

[2022-08-16 15:53] monicakogler commented on #119
meant to include a screenshot. see previews view vs intercept view below

<img width="1800" alt="Screen Shot 2022-08-16 at 8 51 27 AM" src="https://user-images.githubusercontent.com/609038/184923864-db48d3b9-3f97-4e73-96ec-4b6dde10aaad.png">

[2022-08-16 19:45] alexfarrill commented on #74
fixed by #116

[2022-08-16 19:45] #74 closed

[2022-08-16 19:46] psugihara commented on #114
fixed in #116

[2022-08-16 19:46] #114 closed

[2022-08-16 20:33] psugihara commented on #115
fixed by @alexfarrill in #116 !

[2022-08-16 20:33] #115 closed

[2022-08-16 20:54] #70 closed

[2022-08-17 00:26] #120 closed

[2022-08-17 10:52] johanolandero opened #126 "Logging events"
## Description
When using the built `sendMail` function, it outputs logs for different events such as errors and responses from the configured transport.
## Problem
My main concern is that I'm no longer in control over which logs gets sent to and how they are transformed as the standard output is `console`. Many server applications uses a centralised source for handling of info/error logs and appl

[2022-08-17 15:57] psugihara commented on #126
Great idea @johanolandero. I'm all for scrubbing personally identifying info from logs and letting you configure logging [on the nodemailer transport](https://nodemailer.com/smtp/#debug-options) (if you want).

Here's one place I see us potentially logging too much: https://github.com/sofn-xyz/mailing/blob/main/packages/core/src/index.ts#L120

Do you have examples of the logs you'd want to scrub?

[2022-08-18 04:31] mrlubos opened #129 "Monorepo compatibility"
Hey team mailing, great strides over the last few weeks towards v1!

Based on `v0.6.9`, I think the last missing piece to unlock usage in monorepos is adding support for path mappings. I have multiple packages in my project that import other packages, so my template could look like this.

[code]

This currently won't work with either dev or build commands. It will fail with the module not found er

[2022-08-18 07:53] johanolandero commented on #126
The code you referenced was definitely the culprit in my case. Seems like the potential error logs is related to preview-stuff which is disabled in production anyway. Thanks @psugihara

[2022-08-18 07:53] #126 closed

[2022-08-18 15:18] psugihara commented on #126
awesome, thanks for filing!

[2022-08-18 15:42] psugihara commented on #129
thanks @mrlubos.

a few thoughts:

1. i'm sure this is just an example but don't put onClicks in your email templates, client-side js won't work in email clients :)
2. maybe this is related to #93
3. if you think it may be different from #93, a minimal repro example we could test fixes on would be super useful

[2022-08-18 16:06] mrlubos commented on #129
Hahah yes @psugihara, it's a href in my code. The specific use case is shared path generators between client and emails as emails deep link the application state. I will have a look at the issue and see if I can reproduce anything!

[2022-08-18 16:08] mrlubos commented on #129
@psugihara looks like it's related to #93. I'll put together a demo later

[2022-08-18 17:50] alexfarrill opened #130 "Refactor DEFAULTS"
Importing DEFAULTS currently causes a read to the file system. Change it to a function with a memo

[2022-08-19 02:24] mrlubos commented on #129
@psugihara You should've received an invitation to a [CodeAnywhere repository](https://ide.codeanywhere.com/nodejs-prickly-wolf-lmenus666910/#/home/cabox/workspace/mailing). I've left the instructions to reproduce in README, it's very straightforward. Please let me know if you need any assistance with reproduction or anything else

[2022-08-22 19:40] mrlubos commented on #129
@psugihara Just checking in if you've received any emails/had time to look at this issue?

[2022-08-22 20:04] psugihara commented on #129
Hey, sorry for the delay. I got the email but haven't had time to look into the issue. When I looked at #93 I was able to repro but was not able to figure out a fix (yet).

[2022-08-23 13:09] mrlubos commented on #129
No worries @psugihara, just wanted to make sure my link worked. Let me know if I can help in any way. Would love to help with this project but it's difficult as it's not obvious what's a priority and who's working on what

[2022-08-23 14:19] psugihara opened #133 "Add CONTRIBUTING.md file"
Let's add a CONTRIBUTING file and link it from the README. In addition to the dev setup stuff we have, let's document:

- [ ] How to pick what to work on
- [ ] Steps for creating good issues or pull requests
- [ ] Links to external documentation, mailing lists, or a code of conduct

[Useful](https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines

[2022-08-23 14:34] psugihara commented on #129
Sorry that's unclear. @alexfarrill, @monicakogler, and i sync up periodically live in LA. We can do a better job tracking work in public! Just added #133

Going forward, I'll make sure we're assigned on issues. In general, issues assigned are being worked on, unassigned issues are up for grabs if you want to pull one (though of course best to discuss if it's a huge change).

- alex and I are worki

[2022-08-23 14:58] monicakogler commented on #129
https://github.com/sofn-xyz/mailing/issues/119 this could also  be a good one – i think the remaining work is short and sweet? outside of my wheelhouse 😬

[2022-08-23 16:50] izakfilmalter commented on #129
Mailing works just fine within a monorepo. I have done the following to get it configured correctly.

1.  Make a new package for your emails.
	1. ```sh
	    cd packages
	    mkdir email
	    cd email
	    yarn init
[code]
	3. Add needed dependancies:
[code]
	    You will see that we have added both [@zerollup/ts-transform-paths](https://github.com/zerkalica/zerollup/tree/master/packages/ts-transfo

[2022-08-23 16:59] mrlubos commented on #129
@izakfilmalter what's your email? I can invite you to the repository where I reproduced the issue with monorepo. My example already has `tsconfig.json` in its folder but it doesn't work

[2022-08-23 17:04] izakfilmalter commented on #129
@mrlubos I would compare your `tsconfig` to the one above. Just cause you have one doesn't mean it will "work". I've fought a bunch with em before.

[2022-08-24 03:25] mrlubos commented on #93
Hi @neuxregime, any chance you've got a project somewhere with instructions how to reproduce the issue?

[2022-08-24 05:47] neuxregime commented on #93
I'm out of town for a bit, but you can try with a simple Next.js project and put this somewhere in the welcome template

`
 <ReactMarkdown>
       **bold**
</ReactMarkdown>
`

Most of remarkjs repos are ESM only.

https://github.com/remarkjs/react-markdown

[2022-08-24 15:44] psugihara commented on #129
@izakfilmalter that's an awesome setup, so cool. One note...

This is the only piece I'd steer clear of. It may break if you have anything else in `packages/email` (config files, etc) since it's not something we explicitly test for. I manually tested this in #131 with `npx mailing --emails-dir .` and encountered some errors. Instead to avoid the redundancy, I'd recommend putting the templates in `

[2022-08-24 17:06] izakfilmalter commented on #129
@psugihara You are probably right that something could break, it's been find for me so far. Happy for you to take the above comment and work it into your docs / change it.

[2022-08-24 17:23] psugihara commented on #129
That would be awesome! I think the README is getting a bit unwieldy. Want to start a docs directory in the root and add docs/monorepos.md ?

[2022-08-24 17:24] izakfilmalter commented on #129
Ya, I'll open a pr with this some time this week.

[2022-08-24 18:39] alexfarrill opened #136 "/api/render should support POST"
/api/render currently supports GET with a query string param that includes the data for the preview.  This will be nice for caching, but as users start to expand the data they pass here, they'll quickly hit the character limit for a query string param.  So let's have the /api/render endpoint also support POSTs

[2022-08-25 02:30] psugihara opened #138 "password protection for the production preview server"
Before we add a send API or anything more sensitive than email previews, we should lock it down a little. The task here is adding password protection when the server is in production mode.

- Add passwordHash field to mailing.config.json
- If it's blank on mailing server build, prompt to set a password.
- Set the hash in the config file.
- API calls should use this password with username "api" in

[2022-08-25 02:37] psugihara commented on #58
Version 0.7.0 ships a new architecture that supports easily deploying your preview server as a next.js app (serverfull or serverless) as well as an API endpoint for grabbing rendered HTML given a template name and props.

We recommend a serverless deploy (vercel is nice) because email loads tend to be pretty spiky.

Read more about the change here: https://github.com/sofn-xyz/mailing/blob/main/pac

[2022-08-25 02:37] #58 closed

[2022-08-25 15:08] #130 closed

[2022-08-25 15:10] psugihara commented on #117
This was fixed in #131

[2022-08-25 15:10] #117 closed

[2022-08-25 15:14] mrlubos commented on #117
Thanks as always @psugihara!

[2022-08-25 18:40] pstoica opened #141 ".ts files stopped working"
I have a couple of plain typescript files for images and theme tokens. I'm using `typescript: true`. `0.6.9` was working just fine, but something in `0.7.0` switched to start appending `.ts` to the variable name. Here's the syntax error:

[code]

With this version I can no longer preview, build, or export.

[2022-08-25 18:43] psugihara commented on #141
aye, sorry @pstoica taking a look.

what file is that line in?

[2022-08-25 18:44] pstoica commented on #141
thank you! here's a more thorough stacktrace:

[code]

I haven't tried renaming the files or anything yet, I had to revert for now. let me know if it'd save you some effort.

[2022-08-25 18:46] psugihara commented on #141
gotcha, i think i see what the problem is. thanks for detail! will ping back in a bit when I think I have a fix.

[2022-08-25 18:57] psugihara commented on #141
hey @pstoica, can you try mailing@0.7.1-next.0 when you have a chance and let me know if it works for you?

[2022-08-25 18:59] psugihara commented on #141
scratch that hehe another sec.

[2022-08-25 19:12] alexfarrill opened #143 "Anonymous mailing telemetry"
To improve mailing and understand how people want to use it, let’s add telemetry. This way we can prioritize future development against real use cases. We’ll keep the telemetry anonymous by not associating it with an email.  We'll plan for:
- CLI command usage
- sendMail count

The solution will be anonymous -- no email necessary and not associated with an email

## Implementation

- Generate a ra

[2022-08-25 19:20] psugihara commented on #141
OK, I repro'd what you were seeing and I believe it's fixed in #142

Try out `mailing@0.7.1-next.2` to confirm. Thanks again!

[2022-08-25 19:34] pstoica commented on #141
it's closer! now the commands seem to have slightly different issues.

`build` is giving eslint errors. could it be due to my monorepo?
[code]

`preview` is looping on this:
[code]

and `export-previews` is still doing:
[code]

[2022-08-25 20:30] psugihara opened #144 "Add e2e test for `mailing export-previews`"
Think we shipped a bugged version in 0.7.0 (see #142). Let's catch in tests next time.

[2022-08-25 20:59] psugihara commented on #141
mind trying one more 😅

`mailing@0.7.1-next.4`

🤞

[2022-08-25 21:01] pstoica commented on #129
I think there are two separate use cases being discussed here. The last solution describes how to import the mailing package from another project. The original post (and what I'm looking for) is about using unbuilt monorepo packages within Mailing for things like formatters, theme tokens, etc. It doesn't seem to attempt Babel or Typescript for these packages.

[2022-08-25 21:03] pstoica commented on #141
all three work perfectly! thanks for the quick fix!

[2022-08-25 21:08] psugihara commented on #141
😭 😭 😭 😭 !!! ❤️

awesome, will get this merged and released. thanks for your help debugging!

[2022-08-25 21:13] psugihara commented on #141
release in 0.7.1

# ⚡

[2022-08-25 21:13] #141 closed

[2022-08-25 21:33] izakfilmalter commented on #129
Good point @pstoica. I am successfully importing my other packages into my mailing package, but not that they are be compiled into commonjs.

[2022-08-25 23:21] psugihara opened #145 "Immersion UI: scaffold page layout"
Add an ugly but functional IndexPane component with list of previews. A first cut so we can split up detailed work.

- toggle for compact vs email client view
- keep in dev branch for now

design #140

[2022-08-25 23:23] psugihara opened #146 "Immersion UI: IndexPane compact view"
requires #145

- keyboard controls should work like mac Finder

<img width="353" alt="Screen Shot 2022-08-25 at 4 23 27 PM" src="https://user-images.githubusercontent.com/282016/186785789-cb58f87c-ce32-4568-bc75-9bb8d68a1d60.png">

[2022-08-25 23:24] psugihara opened #147 "Immersion UI: IndexPane mail client view"
requires https://github.com/sofn-xyz/mailing/issues/145

- Keyboard up and down should move selection up and down if pane is focused

<img width="324" alt="Screen Shot 2022-08-25 at 4 24 12 PM" src="https://user-images.githubusercontent.com/282016/186785888-31f4c791-1788-4295-b93b-71373b8bb73d.png">

TODO

- [x] Emails header at the top

[2022-08-25 23:29] psugihara commented on #82
edited and re-purposed to ship w the immersion UI

[2022-08-25 23:59] alexfarrill commented on #143
# Todo

## p0: get telemetry working in sendMail
- path forward for getting anonymousId into core repo

## p1: build step injection
- [ ] add api key to build from process.env

## p2: Config file stuff
- [ ] it should add to existing mail config

## p2: finalize
- [ ] document "null" feature for anonymousId
- [ ] do we need to call `client.shutdown`?  espc check use case of running init --quiet
**

[2022-08-26 01:56] psugihara commented on #45
closing in favor of #146 🙇

[2022-08-26 01:56] #45 closed

[2022-08-26 03:58] alexfarrill commented on #143
Note: one additional consequence of not having mailing.config.js in mailing-core is we don't know the port the preview server is running on so we guess 3883.  I think this is the last place we have the hardcoded value

[2022-08-26 04:17] alexfarrill commented on #144
Brainstorming some ideas for how this could work:
## Option 1: jest tests
After cypress tests run, we cd into the current run, yarn install jest, copy jest tests in and run them.  The jest tests run the CLI code and show the output.  We already have yarn so setup will be pretty easy, but it might be a pain to write tests for the CLI commands and capture the output of the subprocesses with node.

#

[2022-08-26 04:48] psugihara commented on #144
I think this works pretty well (would have caught one of the bugs in #142). I'll try on server commands.

<img width="576" alt="Screen Shot 2022-08-25 at 9 37 53 PM" src="https://user-images.githubusercontent.com/282016/186823218-47fac677-9e33-4a88-9978-22fcf9d4d0c4.png">

https://github.com/sofn-xyz/mailing/pull/149

[2022-08-26 05:00] psugihara commented on #144
Hm, but the other `server build` error was related to not having types in the production dep list, so this wouldn't catch.

[2022-08-27 17:32] agamm opened #150 "MDX support"
It would be nice to be able to transform MDX files into compatible emails and get all the benefits of mailing.

My current use case is to use mdx for a blog and a newsletter where I would like to write in mdx and then send it out preferably via mailing.

I can imagine I'd like to use mjml as a base template where I insert the mdx content in between.

[2022-08-28 13:42] mrlubos commented on #150
Hi @agamm! Could you please describe in more detail how do you imagine this feature working? Is it currently throwing any errors when you try to implement the MDX library? Wondering if this is related to #93 and #129 at all. Thanks!

[2022-08-29 00:33] mrlubos commented on #129
@psugihara some progress with the latest `v0.7.1` release, hoping you'll be able to provide further pointers. My original theory was that mailing simply uses the wrong `tsconfig.json` config, since it can't possibly know about my paths. To test that, I modify the newly generated `.mailing` folder. Given a project like this

[code]

I can modify `.mailing/tsconfig.json` by adding to it this line:

[2022-08-29 11:30] ludovicoserrani-nautes opened #152 "Hot reload error Ubuntu"
Hi, when I start the preview server on Ubuntu 22.04 (node 14 and node 16) I get this error:

[code]
As a consequence the hot reload is not working and I must start and stop the preview server to reload changes.

Can you please help me?

[2022-08-29 13:19] mrlubos commented on #152
Hi @ludovicoserrani-nautes! This is a known caveat with `watch()`, see https://nodejs.org/api/fs.html#caveats. I don't have experience with your platform but I see stat polling mentioned as an acceptable workaround, maybe that could be the fix. Just to confirm, do you use any other libraries that support hot reloading and work on your machine? Are you able to confirm if adding a fallback to stat p

[2022-08-29 14:13] ludovicoserrani-nautes commented on #152
Hi @mrlubos, I made this example project of my current situation. As you can see from README i only use npx mailing to start the preview server. How can I add polling to this project? Do you know any libraries that I can use?

[2022-08-29 14:21] mrlubos commented on #152
@ludovicoserrani-nautes did you mean to link the project? I can't see any links in your comment. Regardless, I believe the fix would be on the library's side (mailing) so unfortunately there isn't much you can do at this point.

[2022-08-29 14:22] ludovicoserrani-nautes commented on #152
Sorry, here it is https://github.com/ludovicoserrani-nautes/mailing-esbuild-node

[2022-08-29 18:19] psugihara commented on #152
Hm, let's try using a more cross-platform friendly alternative to node's `fs.watch`.

Perhaps chokidar? https://github.com/paulmillr/chokidar

[2022-08-29 18:23] mrlubos commented on #152
At a quick glance this seems like a suitable alternative. Out of curiosity, how will you test these changes for Ubuntu? Do you use any service or have VM running?

[2022-08-29 18:28] psugihara commented on #152
I do not have an ubuntu machine, but would think that it will "just work" if it works on my mac. If it doesn't work for @ludovicoserrani-nautes on the first try, we could boot a little ec2 instance or something to debug.

Here's the line we'd change to use chokidar https://github.com/sofn-xyz/mailing/blob/35af9a5d6b05616bbd795e22dc718f340a405a9b/packages/cli/src/commands/preview/server/start.ts#L1

[2022-08-29 18:55] mrlubos commented on #152
@psugihara Could you try to deploy a test release first for @ludovicoserrani-nautes to test? I'm thinking like `v0.7.2-next` or whatever instead of the actual `v0.7.2`. Little bit worried about making it a proper release without testing as the current thing "just works" on a Mac but not on Ubuntu.

[2022-08-29 19:07] psugihara commented on #152
yeah that's what i meant (bake an alpha for ludovic).

that's why it's safe! 😆

[2022-08-29 19:28] mrlubos commented on #152
Sounds like a deal if @ludovicoserrani-nautes agrees! 🎉

[2022-08-29 21:33] jdotjdot commented on #58
Sorry for the delay on this one. This wasn't for any immediate use case, just speculative. But it is a problem I've had many, many times. And it seems like you've already taken care of doing this in a serverless way! Really exciting!

[2022-08-30 07:05] ludovicoserrani-nautes commented on #152
Sure! I can try that as soon as the test release is available. Thank you!

[2022-08-30 20:50] psugihara commented on #152
bugfix here to try (release on npm as mailing@0.7.2-next.1).

thanks in advance!

https://github.com/sofn-xyz/mailing/pull/155

[2022-08-30 23:36] mrlubos commented on #152
Please let us know if this works @ludovicoserrani-nautes!

[2022-08-31 07:24] ludovicoserrani-nautes commented on #152
I made a branch (https://github.com/ludovicoserrani-nautes/mailing-esbuild-node/tree/mailing-0.7.2-next.1) with the upgraded package.

To start the preview server I used the command `npx mailing@0.7.2-next.1`.

`chokidar` seems to work, in fact the project recompiles when I save an edited file, but then I got a compilation error.

The full log is:

[code]

Don't know if this can be related to the

[2022-08-31 14:24] psugihara commented on #152
O no, thanks for testing, @ludovicoserrani-nautes I'll boot up an ubunutu vm today and try to repro.

[2022-08-31 14:30] mrlubos commented on #152
@psugihara this is starting to look more like the issues I see in #129, so I'm exciting by this thing breaking 😀

[2022-08-31 22:51] psugihara commented on #152
confirmed this works fine on my macbook, grabbing an ubuntu vm now

[2022-08-31 23:39] psugihara commented on #152
ok yep, seeing what you're seeing on my ubuntu vm. hmmmmm...

<img width="1420" alt="Screen Shot 2022-08-31 at 4 38 31 PM" src="https://user-images.githubusercontent.com/282016/187803328-48835049-69b8-44cf-84b2-e675f85faa67.png">

[2022-09-01 06:18] psugihara commented on #152
Weird... the second time I booted mailing, I did not encounter this problem. I think there is potentially a race condition with copying files around here where we copy emails from userspace to `.mailing`. Will dig around more tomorrow.

[2022-09-01 18:36] alexfarrill opened #159 "e2e: add test for custom emailsDir"
the e2e tests currently run with the default settings, but many users customize their emailsDir setting.  we should have e2e tests that cover specfiying a custom emailsDir.  I think we should test one with different nesting than `emails`, e.g. `src/emails` so that we can pick up an errors with relative includes

[2022-09-02 01:09] psugihara commented on #152
didn't mean to close but did merge some fixes in that made it work for me on ubuntu. In particular...
watch fix: #155
bundling fix: #154

@ludovicoserrani-nautes can you let me know if this is fixed for you in the latest release 0.7.3?

Thanks!

[2022-09-02 04:37] psugihara opened #161 "Update Templates section in README with new defaults"

[2022-09-02 07:06] ludovicoserrani-nautes commented on #152
Yes, it works! Thank you for the support!

[2022-09-02 07:06] #152 closed

[2022-09-02 10:28] willviles opened #163 "Preview server error since 0.7.2 in yarn workspace"
Have tried to update to `mailing@^0.7.2` and unfortunately I'm getting this error when attempting to run `mailing preview`.

[code]

There are no errors in a vanilla project, however I'm using Mailing within a yarn workspace, which already contains a next.js app.

Pinning to `mailing@0.7.1` and adding a the following nohoist rules to my root `package.json` ensures the error disappears:

[code]

[2022-09-02 15:46] psugihara commented on #152
hell yes. thanks for testing! 🤝

[2022-09-02 16:44] bruceharrison1984 opened #164 "sendMail has `any` result type"
The result of the `sendMail` call is currently typed as `any`. It'd be helpful if it was strongly typed.

[code]

[2022-09-02 17:56] psugihara commented on #163
Thanks for filing an issue @willviles and apologies for the breaking change on a patch release.

1. Could you give me an idea of your project's file structure?
2. Could you give your mailing config?
3. Are you doing anything in templates besides rendering react? (e.g. data fetching, etc)

A small repo that reproduces the issue would be incredible, but I know that's a pain to put together so maybe

[2022-09-02 17:57] psugihara commented on #164
yeah, i like this idea. thanks for the issue!

[2022-09-03 11:00] rashidmya commented on #164
can I be assigned this?

[2022-09-03 23:07] psugihara commented on #164
go for it!

[2022-09-06 05:43] alexisveryreal opened #168 "Monorepo "Could not resolve" errors @0.7.3"
Hello y'all!
I wanted to start using this package unfortunately as soon as I ran `npx mailing` I received a lot of `could not resolve` errors

## Quick Information

- **Operating System:** Windows 10
- "mailing": "^0.7.3",
- "mailing-core": "^0.7.3",
- "next": "^12.2.0",
-  "react": "17.0.2",
-  "react-dom": "17.0.2",

## What Happened?

- installed `mailing` and `mailing-core` in one of my turbor

[2022-09-06 16:37] psugihara commented on #168
Thanks for reporting. Something definitely looks funky with those forward slashes in the import path -- never seen anything like that. I'll run through your repro steps later today and see what I find.

[2022-09-06 20:43] alexfarrill opened #169 "Telemetry: add telemetry to sendMail"
- [x] should be a noop when NODE_ENV !== "production" ?

[2022-09-06 20:44] alexfarrill opened #170 "Telemetry: add telemetry to web ui"

[2022-09-06 21:28] alexfarrill commented on #143
Closed by #148

[2022-09-06 21:28] #143 closed

[2022-09-06 21:44] alexfarrill opened #171 "Telemetry: include mailing and mailing-core versions"

[2022-09-06 21:48] alexfarrill commented on #171
maybe use this?
[code]

[2022-09-06 22:01] psugihara opened #172 "Support mailing on Windows"
Looks like mailing doesn't run on Windows (see #168).  Add support for Windows in this issue.

[2022-09-06 22:02] psugihara commented on #168
Hey @alexisveryreal, unfortunately I think this is an issue with the Windows paths. Running through the repro steps on linux/mac-os works fine.

We don't have a plan to add Windows support ourselves, but would happily support and merge a community PR if you or another Windows user can get it working.

I added an issue here to track windows support: #172

[2022-09-06 22:02] #168 closed

[2022-09-06 22:06] psugihara commented on #163
Also, you might try upgrading to latest (0.7.4). There was a small problem in the 0.7.2 release (though I don't think it would be related).

[2022-09-07 06:45] willviles commented on #163
Hi @psugihara, firstly thanks for such an awesome mail library 👍

I've created a [minimal repo here for my use case](https://github.com/willviles/mailing-yarn-workspaces). I'm using Mailing inside an `email` package, which is then consumed by a number of server apps in my workspace.

The issue arises when I export a helper class for my Sendgrid logic (importing `@sendgrid/client` which uses `axios

[2022-09-07 06:45] willviles commented on #163
Hi @psugihara, firstly thanks for such an awesome mail library 👍

I've created a [minimal repo here for my use case](https://github.com/willviles/mailing-yarn-workspaces). I'm using Mailing inside an `email` package, which is then consumed by a number of server apps in my workspace.

The issue arises when I export a helper class for my Sendgrid logic (importing `@sendgrid/client` which uses `axios

[2022-09-07 16:08] psugihara commented on #163
Got it, thanks so much for the clean repro repo! I'm away from my dev machine today but will try it this week.

1. I agree that's a nice interface for the emails package (if it worked 😆). Perhaps a workaround could be adding an index file at `packages/emails/index.ts` that exports `sendMail` from `packages/emails/src/index.ts` as well as your other exports. This file would never get touched by mai

[2022-09-07 19:20] bruceharrison1984 commented on #172
I started using mailing around `0.6.2`, and it worked fine on windows. Installing later versions (specifically `>=0.7.2`) broke support on windows. Not sure what changed, but you had it working once before!

Rolling back to `0.7.1` lets it work again, so something between `0.7.1` and `0.7.2` broke it.

[2022-09-07 19:34] alexfarrill commented on #172
In 0.7.2 we began bundling the emailsDir using esbuild.  This is so that you can import source files from outside your emails directory.  I haven't used esbuild on Windows before, do you know if esbuild supports Windows?  Perhaps esbuild needs to be configured differently on Windows?

[2022-09-07 19:45] bruceharrison1984 commented on #172
AFAIK, esbuild works just fine on Windows. I can't speak directly to what the problem is here, but I don't believe it is an esbuild compatibility issue. Based on the other thread, it looks like something to do with cross-platform filepaths, but I didn't dig in to it too much.

[2022-09-07 20:24] alexfarrill commented on #172
Thanks for the info.  There is some dynamic code generation that happens here: https://github.com/sofn-xyz/mailing/blob/e83411abefb3eb494a750088499707ff331c4d04/packages/cli/src/commands/preview/server/setup.ts#L79 and here: https://github.com/sofn-xyz/mailing/blob/e83411abefb3eb494a750088499707ff331c4d04/packages/cli/src/commands/preview/server/setup.ts#L94

I could see that not working since it

[2022-09-07 23:53] alexfarrill commented on #163
Thanks for the repro repo :)  I just had a moment to boot it and inspect the emitted moduleManifest.ts.  the first thing I notice is that it is bigger than it should be (~100KB vs. ~10KB) and the http part it looks like is being bundled although it should be considered an external dependency and not bundled.  i.e. it looks like it is bundling all external dependencies.

The line that indicates thi

[2022-09-08 00:20] alexfarrill commented on #163
We're also not excluding devDependencies

[2022-09-08 00:30] alexfarrill commented on #163
mm, I think it is actually to do with the fact that @sendgrid/client includes axios, but axios is not declared as a dependency.  instead of looking at package.json for what packages are available in the environment, we may have to ask yarn or npm for a list?

[2022-09-08 00:35] alexfarrill commented on #163
seems related: https://github.com/evanw/esbuild/issues/619

[2022-09-08 02:23] alexfarrill opened #178 "e2e: add test for monorepo"
with users having monorepos, we should have a test that would catch something like this: #163

[2022-09-08 21:18] alexfarrill commented on #163
Hi @willviles this is fixed in 0.7.5-next.0
I've tried it out in your test repo.  If you want to give it a try as well in your project and let us know if it works, I'd appreciate it!

[2022-09-08 23:36] #169 closed

[2022-09-09 00:05] #163 closed

[2022-09-09 00:38] alexfarrill commented on #168
@alexisveryreal would you give version 0.7.6-next.0 a try and let us know if it fixes your problem?  I invoked [normalize](https://nodejs.org/api/path.html#pathnormalizepath) when generating those paths and I think that might do the trick.  Thanks!

[2022-09-09 00:59] alexisveryreal commented on #168
Hey @alexfarrill
I get the following now with 0.7.6-next.0
[code]

then later down I get
[code]

When checking the `moduleManifest.ts` file it still has the incorrect/weird paths slashes as well

Thank you for trying though!

[2022-09-09 03:17] psugihara commented on #168
Oddly I'm seeing something similar when I merged `main` into my ui branch. `main` is working fine for me and so is the ui branch but something with the merge... 🕵️

[code]

[2022-09-09 03:43] alexfarrill commented on #168
@alexisveryreal would you try 0.7.7-next.0 ? I think that error you posted is thrown before the lines that I changed so would like to see what the output is.  Thanks!

@psugihara you can try 0.7.7-next.0 too, I think we should prob release this one since exec'ing `npm -g root` seems not to work sometimes

[2022-09-09 03:48] psugihara commented on #168
yep, trying now. [this](https://github.com/sofn-xyz/mailing/pull/179) fixed in my branch.

It was happening in my branch because you can't call that command or use global packages from inside of the yarn workspace:

<img width="614" alt="Screen Shot 2022-09-08 at 8 47 40 PM" src="https://user-images.githubusercontent.com/282016/189267714-c5669a5d-7d92-4093-95a4-4f2ed9a225a8.png">

[2022-09-09 04:00] psugihara commented on #168
@alexfarrill your release works in my turborepo project where I repro'd the `npm -g root` error. Let's ship it.

[2022-09-09 04:04] alexfarrill commented on #168
yeah, it just removes the npm -g root altogether.  you would only need that if your project were using some packages that are installed globally, which i think is probably atypically, so maybe we were overthinking it.  we could add it back in with more refinement if someone raises that problem.  for now let's ship it tho, will do

[2022-09-09 04:05] alexfarrill commented on #168
if you want to add some detail on how to setup turborepo to #178 that one should be easy to implement

[2022-09-09 04:07] alexisveryreal commented on #168
@alexfarrill No more npm -g root error, but paths errors are still there. This time though they are all the same type of slash at least.

So 0.7.3
`import TextEmail from "..\..\emails/TextEmail"`;
![image](https://user-images.githubusercontent.com/44214923/189269567-19b29fcd-67b5-4234-997a-9508649fb984.png)

0.7.7-next-0
`import TextEmail from "..\..\emails\TextEmail";`
![image](https://user-image

[2022-09-09 04:08] psugihara commented on #178
my test setup was pretty basic....

[code]

[2022-09-09 04:10] alexfarrill commented on #168
Thanks @alexisveryreal ! That looks like what I was expecting to see, since the normalize docs says: "Since Windows recognizes multiple path separators, both separators will be replaced by instances of the Windows preferred separator (\):"  But I did think that would have solved the problem for you, I will have to go back and look at your error again to read it in more detail

[2022-09-09 04:13] alexfarrill commented on #168
[code]

It looks almost like it is interpreting the backslash as a character escape on the doc since "..\..\" ends up being interpreted as "....".  When you are developing, are you using backslashes or forward slashes?  Is one preferred or do both typically work for things like imports?

[2022-09-09 04:15] alexfarrill commented on #168
From the screenshot it even looks like your editor is doing that with highlighting each character.  Hmm, maybe if you can confirm that forward slash works for Windows there is a way we can just force it to use /

[2022-09-09 04:21] alexfarrill commented on #168
@alexisveryreal try mailing@0.7.7-next.1

[2022-09-09 04:22] alexfarrill commented on #168
I am guessing that / is fine in your env since that first import statement has no problem.  mailing@0.7.7-next.1 forces it to posix

[2022-09-09 04:23] alexisveryreal commented on #168
Yup! Forward slashes definitely work on windows as that is what i'm used to using.

So for example importing would look like this for me
[code]

Will try the new version now though!

[2022-09-09 04:31] alexisveryreal commented on #168
No more paths error woo!

However, when starting the server it seems to kaboom. Here is the full error.
[code]

Very weird 🤔

[2022-09-09 04:47] alexfarrill commented on #168
Well, glad the slashes are now correct... not sure what that spawn error is tho unfort

[2022-09-09 08:05] willviles commented on #163
Wow, you guys are fast!

Can confirm that `0.7.5-next.0` is working perfectly in my real world monorepo.

Thank you @alexfarrill  @psugihara  for such a speedy fix 👍

[2022-09-09 08:26] willviles opened #181 "Error loading configPath in preview server"
Since upgrading to `0.7.6`, I've noticed the `buildSendMail` function requires a `configPath` to be passed to it.

However, despite passing the relative path to my `mailing.config.json` the preview server (including test sending) works fine, but logs an error whilst trying to read the config from within the Next.js pages folder:

[code]

The error is logged in the command line, but not in the brow

[2022-09-09 13:23] alexfarrill commented on #163
Thanks for the props Will! 0.7.6 is released and has that fix too. Happy mailing
Alex

On Fri, Sep 9 2022 at 1:05 AM, Will Viles < ***@***.*** > wrote:

[2022-09-09 16:24] alexfarrill commented on #181
Thanks for reporting @willviles , we'll take a look

[2022-09-09 20:10] dropocol opened #182 "TypeError in Next.js app"
Hi, I am trying to install mailing as part of my Next.js application.

I ran the commands mentioned below.
1. npm install --save mailing mailing-core
2. npm install --save nodemailer

Now when I run npx mailing, I get the following error
TypeError: Cannot destructure property 'inAmpMode' of '(0 , _react).useContext(...)' as it is null.

I've tried setting up a fresh Next.js project and installed m

[2022-09-09 20:58] dropocol commented on #182
Another thing I noticed is that it's happening due to multiple next.js installations.

I setup a project with mailing, mailing-core, react and react-dom and it worked. Then I added Next.js and it's showing the error I mentioned above.

[2022-09-09 21:57] #178 closed

[2022-09-09 22:07] alexfarrill commented on #182
Thanks for reporting @dropocol .  I'm having trouble reproducing the error, but i'll keep trying.  Would it be possible for you to send us a sample repo that reproduces the error?  Also is it possible that you have any packages like nodemailer or next installed with your package manager globally? (`yarn global list` or `npm list -g`)  I could see that introducing a conflict. Thanks!

[2022-09-09 22:33] psugihara commented on #182
We can now repro. Sorry about this.

Investigating...

[2022-09-09 22:54] psugihara commented on #182
It appears to be a problem with running multiple versions of next (you can't!). We're moving next to a peer dependency and will ping this thread once we've released the fix.

[2022-09-09 23:26] alexfarrill commented on #182
Hi @dropocol would you try version 0.7.7 and let us know if it fixes the problem?
Thanks!
Alex

[2022-09-10 05:07] dropocol commented on #182
Hi @alexfarrill & @psugihara

I've tried the version 0.7.7 and I can confirm that it solved my issue. Thank you so much for taking care of it quickly.

[2022-09-10 05:21] #182 closed

[2022-09-10 05:21] psugihara commented on #182
hell yeah, thx both

[2022-09-11 16:46] Venipa opened #187 "ModuleNotFoundError, Windows Support"
[code]
Node: v16.16.0, 14.20.0, 18.9.0
Shell: PowerShell v5.1.19041.1682

While running the development server i get this error
![image](https://user-images.githubusercontent.com/17952364/189539313-3ab26569-5bf4-4879-b891-d8fe36aac390.png)

also while running npx mailing i get this error upon start:
![image](https://user-images.githubusercontent.com/17952364/189539261-3fe5a72d-c482-43d5-98de-3b91e

[2022-09-12 10:57] iDuuck commented on #164
This is already implemented, isn't it? Look here: https://github.com/sofn-xyz/mailing/blob/main/packages/core/src/index.ts#L10-L14

[2022-09-12 11:03] iDuuck opened #188 "Port `3883` is hard-coded during interception"
Just have a look at the following snippet: https://github.com/sofn-xyz/mailing/blob/b0f4c800b19a1f757ae962d1f840d4d645fca9bb/packages/core/src/index.ts#L117

Having the server running on a different port results in interceptions not working properly.

[2022-09-12 14:41] im-sticky opened #189 "Option to minify HTML from export-previews"
Currently it does not seem like there is any way to get the minified / collapsed whitespace version of the HTML files exported from `export-previews` command. Would it be possible to have the mjml compilation step of the build process minify the output by default, or have an optional argument for the command to minify the HTML?

[2022-09-12 16:47] monicakogler commented on #161
https://github.com/sofn-xyz/mailing/pull/167

[2022-09-12 16:47] #161 closed

[2022-09-12 16:52] psugihara opened #190 "`mailing deploy`"
Deployment is simple but not easy yet.

Let's make deployment one command: `mailing deploy`

- helps you hook your mailing project up to vercel so that it deploys on push to main branch
- should work if you're embedding mailing in an app that is also deployed to vercel (e.g. if there's a vercel.json deploying something else)

[2022-09-12 19:46] alexfarrill commented on #189
Thanks for the idea @im-sticky !  This was quick to implement and will be included in the next release (0.7.8).  If you have a moment to tell us a bit more about how you're using mailing, we'd love to hear more about it in this thread: https://github.com/sofn-xyz/mailing/discussions/121

[2022-09-12 20:09] alexfarrill commented on #188
Thanks @iDuuck for opening an issue about this -- we've known about this problem and you're right, it's tricky to support a custom port for the reasons you mention.  One option could be to allow you to change the port in the configuration file, but not from a CLI option.  Would that work for you?

If you have a moment to tell us a bit more about how you're using mailing, we'd love to hear more abo

[2022-09-13 06:53] Varkoff opened #192 "No matching export in node-modules-polyfillscrypto for import createHash"
Hello. I have updated my Remix app (indies-stack) dependencies and came across this error message :
`No matching export in node-modules-polyfillscrypto for import createHash` upon building the application or starting the development environment. Going back to version 0.7.0 of mailing and mailing-core didn't trigger the error.

I do not use crypto in my code.

(This is my first issue, forgive me if

[2022-09-14 18:35] psugihara opened #193 "Immersion UI: HotIframe dark mode restyle"
<img width="1298" alt="Screen Shot 2022-09-14 at 11 33 56 AM" src="https://user-images.githubusercontent.com/282016/190234945-d05ce296-81b4-412b-981e-17fbf6b7fe7e.png">

- [x] header icons
- [x] header height
- [x] phone frame

[2022-09-14 18:39] psugihara commented on #192
Hey @Varkoff! Thanks for trying out mailing, sorry you encountered an issue but we'll try to help you get back up and running.

What does you `emails/index.ts` look like?

Also getting a copy of your mailing.config.json would be useful.

Hoping I'll be able to repro with those to debug on my end.

[2022-09-14 21:53] alexfarrill commented on #187
Hi @Venipa , sorry to hear that you are experiencing a problem.  Could I ask you to check what the size of your   `.mailing/src/moduleManifest.js` is after you start the server, it should be around 15k, but I have sometimes seen a similar error when esbuild includes other packages that are installed on the system that it should ignore, curious to see if that is the same problem you are having.  If

[2022-09-14 21:55] alexfarrill commented on #164
I think @bruceharrison1984 is saying that the return value should be typed.  If I'm not mistaken, that line you reference is showing that the parameters are typed

[2022-09-15 01:24] Venipa commented on #187
5.45 MB (5,722,437 bytes)
![image](https://user-images.githubusercontent.com/17952364/190291335-19d0a78d-0008-4cd9-b4c7-ff1cb2faaaa2.png)

isnt it better to use process.cwd() instead of "." ?

[2022-09-15 16:00] #145 closed

[2022-09-15 16:01] #146 closed

[2022-09-15 16:07] psugihara opened #195 "Immersion UI: visiting index page "/" should redirect to first previewFunction"

[2022-09-15 16:46] psugihara commented on #181
We switched this to a debug message in the 0.7.7 release so you shouldn't see it anymore. We'll figure out a better scheme in the future if it becomes more important to match CLI anonymousIDs with sendMail usage.

Thanks again @willviles!

[2022-09-15 16:46] #181 closed

[2022-09-15 17:51] #189 closed

[2022-09-15 21:36] #193 closed

[2022-09-15 22:00] #195 closed

[2022-09-15 22:01] #82 closed

[2022-09-15 22:27] #147 closed

[2022-09-15 22:47] alexfarrill commented on #187
@Venipa thanks, I'm not sure if process.cwd() would behave differently from . but it is worth a shot.  I made a beta version "0.7.9-next.0" that does just that which you can use like this:
`yarn add mailing@0.7.9-next.0 mailing-core@0.7.9-next.0`

would you let us know if it solves your problem?

if not, can you let me know if you have packages installed globally? we don't currently look for node_

[2022-09-15 22:49] alexfarrill commented on #60
@alan-francis going to close this one -- the project internals have changed quite a bit over the last month. but please re-open if you are still experiencing this issue

[2022-09-15 22:49] #60 closed

[2022-09-15 22:56] alexfarrill commented on #129
@mrlubos will you share your CodeAnywhere repo with me as well?  I'm wondering if this could be related to the options passed to esbuild here:
https://github.com/sofn-xyz/mailing/blob/c3e24e0ad72e8bc6ec536c67c10ed7d8c6e7f006/packages/cli/src/commands/preview/server/setup.ts#L203

[2022-09-15 22:57] psugihara opened #200 "Immersion UI: mobile hamburger menu"
Almost forgot this one but it'll be handy for viewing previews on your mobile device.

<img width="770" alt="Screen Shot 2022-09-15 at 3 56 53 PM" src="https://user-images.githubusercontent.com/282016/190522846-3f08c3ca-a062-4446-a1e3-c33cf5470dea.png">

[2022-09-15 23:22] mrlubos commented on #129
Ugh it already got deleted 😔 I can try to create a new project later. Do you know any service where I can create monorepos and it won't delete my project after a few days?

[2022-09-17 01:58] #200 closed

[2022-09-17 04:04] psugihara commented on #138
This is a blocker for being able to expose an /api/send endpoint to send mail from your mailing deploy.

[2022-09-18 04:36] seeARMS opened #203 "mjml-react not maintained"
FYI that as of 13 days ago, mjml-react is not maintained: https://github.com/wix-incubator/mjml-react

Not sure if there are supported alternatives that can be used?

[2022-09-18 17:25] psugihara opened #204 "Expose POST /api/send for sending email from your API"
With a send API route you could email with your configured transport from any kind of app.

## Schema

**POST /api/send**

[code]

## Security

We don't want spammers spamming so this is blocked on securing the API a bit (#138). The API should only be hit from servers so that you don't expose your key to spammers. If your key does leak or you choose to use it in an insecure way, at least they can

[2022-09-19 15:23] im-sticky opened #206 "Error when exporting with minify true"
First off I would like to say how much I appreciate the fast turnaround on the export minify option. However I seem to be running into an error when it is enabled, both on my project as well as the examples that get created when running `mailing` for the first time.

The error is as follows:
[code]

Despite saying at least those 2 of the 4 previews are processed there is not HTML output.

package.

[2022-09-19 18:19] alexfarrill commented on #206
@im-sticky Thanks for getting in touch about this.

We actually had to refactor the minify code for our next release because mjml-core has deprecated the minify option in future versions.  Minification will still work in the same way in exportPreviews, just a slightly different thing happens under the hood, but it will use the same minification library that mjml-core uses in the current version.

[2022-09-19 20:08] alexfarrill commented on #206
@im-sticky I was able to repro and this is fixed in 0.8.0 or either of those beta branches
Thanks
Alex

[2022-09-19 20:08] #206 closed

[2022-09-19 20:38] alexfarrill opened #208 "e2e: add additional cli command jest tests"
- [ ] mailing server
- [ ] mailing server start
- [x] mailing server build

[2022-09-19 20:39] psugihara commented on #203
Quick update: I reached out to the maintainers to get more info about what's happening with mjml-react and figure out if it makes sense for us to maintain a fork.

[2022-09-20 01:01] #133 closed

[2022-09-21 02:52] bruceharrison1984 commented on #187
I'm getting the same error on `0.8.0`.

[code]

[2022-09-21 22:59] #208 closed

[2022-09-22 00:05] alexfarrill opened #215 "server build fails on redwood_ts"
new server test is not passing on redwood_ts in main
@psugihara got an idea about this error?
[code]

[2022-09-23 20:41] alexfarrill opened #216 "default templates on demo.mailing.run have wrong background"
![IMG_F5E1AFA1B948-1](https://user-images.githubusercontent.com/24866/192053265-e02d7443-6ac6-430d-b129-b651999762d0.jpeg)

[2022-09-25 18:03] alexfarrill opened #217 "AMP email support"
https://amp.dev/documentation/components/?format=email
Including testing capability
## Should we build
👍if this would be useful to you

[2022-09-26 14:32] psugihara commented on #216
hm, this is what I see:

<img width="450" alt="Screen Shot 2022-09-26 at 7 31 33 AM" src="https://user-images.githubusercontent.com/282016/192303383-89dc4c92-75e3-45e7-8aa7-bf7895e4eca6.png">
<img width="616" alt="Screen Shot 2022-09-26 at 7 31 39 AM" src="https://user-images.githubusercontent.com/282016/192303388-0b175461-6dfa-432b-b509-1b52c080bfa5.png">

are you on an android there?

[2022-09-26 17:55] alexfarrill commented on #216
No, iPhone 13 Pro, iOS 15.3.1
Chrome and Safari both show the same thing

It's because of dark mode, light mode is working fine

[2022-09-26 17:59] psugihara commented on #216
cannot repro on safari or chrome in iOS 15.6.1 or 16.0 😕

[2022-09-26 18:19] alexfarrill opened #219 "on mobile, the hamburger should close when you select a preview"

[2022-09-26 18:55] #216 closed

[2022-09-26 19:39] #190 closed

[2022-09-27 15:50] psugihara commented on #203
Good news, @faire is going to take over maintenance of mjml-react: https://github.com/wix-incubator/mjml-react/issues/92

I think this is a good outcome since they'll have more resources than our tiny bootstrapped team.

Going to close this now. Thanks for surfacing, @seeARMS!

[2022-09-27 15:50] #203 closed

[2022-09-27 16:51] seeARMS commented on #203
Awesome!

[2022-09-29 22:44] alexfarrill opened #226 "auth/sendMail api"
## Accounts
- [x] signup
- [x] login
- [x] create api keys

## sendMail API
- [x] switch to POST
- [x] check your API key
- [x] use your transport
- [x] validate /api/sendMail params (from, to, templateName, props, bcc, cc, subject, attachments)

## bugs
- [x] organizationId foreign key failure unless you login after signup
- [x] cleanup SESSION_PASSWORD env var invariant checks (remove non-runtim

[2022-10-01 17:41] Varkoff commented on #192
Hi @psugihara, I have tried to recreate the issue, without success.
I am using React@18.2.0 btw. I have seen a notice on the terminal specifying the peer-deps of mjml-react, and react-reconciler needed 17.0.0.

I am using mailing for my Vinylmania.fr project.

` /* mailing.config.json */
{
  "typescript": true,
  "emailsDir": "./emails",
  "outDir": "./previews_html",
  "anonymousId": "c4eb5ec8-3a

[2022-10-04 17:58] psugihara commented on #164
hey @rashidmya, any luck here?

[2022-10-04 18:00] psugihara commented on #192
vinylmania.fr looks really cool! I'm going to try to repro this today.

[2022-10-04 21:08] alexfarrill commented on #192
Hey @Varkoff , Peter and I tried to reproduce the error by running the end-to-end tests that install mailing into a fresh install of remix using remix-run/indie-stack and using the `index.ts` you sent, but `SMTP_PORT=465 npx mailing` runs fine for us with that basic setup.  (It installs react 18.2.0 too)

To continue to diagnose:
I don't see `node-modules-polyfillscrypto` in our yarn.lock.  Could

[2022-10-04 21:12] alexfarrill commented on #192
@Varkoff if it's easier to debug over a zoom/hangout, feel free to book a time on my calendly: https://calendly.com/afarrill/30min?month=2022-10

[2022-10-06 23:38] steven-tey opened #229 "Mailing Analytics"
Absolutely love this library, great work!

Have y'all thought about implementing mailing analytics? I'd love to replace Mailchimp with this but the only thing holding me back is the lack of analytics insights (# of opens, link clicks per user, etc.)

Happy to help integrate this with a 3rd party analytics solution too if needed!

[2022-10-07 00:22] steven-tey commented on #229
@psugihara Appreciate the kind words about Dub & Vercel, Peter! We're huge fans of Mailing here at Vercel 🤩

Just grabbed a slot on your cal, very excited to chat with you about this! :)

[2022-10-07 00:50] #219 closed

[2022-10-07 18:38] elliothursh opened #233 "Analytics Proposal?"
## A clear and concise description of what you want to happen.
Add click tracking metrics by integrating directly with an analytics provider of your choosing (Posthog/Amplitude/Segment)

To do this we'd need to:
- Replace all URLs in emails with Mailing proxy urls
- Build proxy endpoint that triggers an event to Analytics provider and redirects user to original URL.

As a user, you should be able

[2022-10-08 03:39] psugihara opened #237 "Error changing default name of preview page"
**Describe the bug**

thanks for finding, @steven-tey

[code]

**Expected behavior**
no errors :)

**Screenshots**

![CleanShot_2022-10-07_at_22 15 17](https://user-images.githubusercontent.com/282016/194686368-41994e88-6406-490c-a9dc-a69d9057a7a5.png)

[2022-10-10 16:18] psugihara opened #245 "Safe delivery from development mode"
Usually in development mode we intercept emails and don't send them. Sometimes you do want to deliver from development mode for testing purposes (e.g. sending to Litmus or yourself for QA). Today you can get around that by passing the `forceDeliver` flag to `sendMail`, but that is pretty dangerous and not a very findable feature.

Let's ship 2 changes to mitigate this:

1. Change the name of `forc

[2022-10-10 22:45] psugihara commented on #237
fixed in 0.8.3

[2022-10-10 22:45] #237 closed

[2022-10-11 17:19] psugihara commented on #204
building in #226

[2022-10-11 17:19] #204 closed

[2022-10-12 02:54] monicakogler commented on #245
we can add a little notif to the intercept header, and for speed let's do HTML confirm dialog ⚡

<img width="1334" alt="Screen Shot 2022-10-11 at 7 52 35 PM" src="https://user-images.githubusercontent.com/609038/195238738-6602e70f-921b-4af3-a48d-b97e39e216cc.png">

https://www.figma.com/file/9SS4DwqxNZT0vnRalOKa8e/mailing?node-id=1757%3A7911

[2022-10-13 20:08] alexfarrill commented on #226
# Tests
## integration or cypress
- [ ] can we run cypress tests with integration setup (db)?
- [ ] cypress test? signup, login, navigate to /settings and /analytics, on /settings page create API key
- [ ] apiKeys POST should create an API key (with valid creds, not without)
- [ ] logout
- [ ] users API: success, 4 named errors
- [ ] cypress: login page shows form error
- [ ] cypress: signup page

[2022-10-14 18:28] alexfarrill opened #257 "Add cypress tests that use the integration db"
Run cypress tests with the integration test db setup so that we can test the things listed below.  This should be a separate suite of tests from the cypress tests that are used for the framework install tests.

## happy path:
- [x] signup
- [x] login
- [x] navigate to /settings
- [x] /signup page only works once (404)
- [x] on /settings page you can create an API key
- [x] logout
- [x] you can no

[2022-10-15 01:08] alexfarrill commented on #226
@elliothursh do you know how to do this?
```ci:test:integration should fail if 3000 or 3883 is already running something```

[2022-10-17 17:28] psugihara commented on #245
released in 0.8.4 ✅

[2022-10-17 17:28] #245 closed

[2022-10-17 17:50] alexfarrill opened #261 "integration tests will hit database connection limit with --watch"
**Describe the bug**
ci tests will hit database connection limit with --watch.  It probably needs to close the database connection between runs or something

**To Reproduce**
- run yarn ci:test:integration:watch
- rerun tests a bunch of times (~10)
- you get a connection error

[2022-10-18 16:29] monicakogler opened #265 "view mode toggle is off center"
should be centered in the header

<img width="1799" alt="Screen Shot 2022-10-18 at 9 14 00 AM" src="https://user-images.githubusercontent.com/609038/196488910-b18c291d-f948-4200-a90a-84950cc1fcff.png">

[2022-10-18 17:33] #261 closed

[2022-10-18 17:42] #215 closed

[2022-10-18 18:43] #265 closed

[2022-10-19 17:43] #226 closed

[2022-10-19 17:44] alexfarrill opened #272 "Schema for list management"

[2022-10-20 07:13] klapec opened #276 "Cannot call `useEffect` in preview component"
**Describe the bug**
I wish to be able to call `useEffect` in my code, particularly in the preview `./emails/previews/Foo.tsx` component. I'm not able though - I'm getting this error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create a preview component for a template
2. Add `import { useEffect } from 'react';`
3. Call
[code]
within preview component's body
4. Crash

**Expected

[2022-10-20 15:56] psugihara opened #277 "Smooth automatic deploy setup with vercel deploy button url"
# Problem
Deploying mailing allows you to share templates with the rest of your team in an easy way. In the future it will allow you to collect analytics and manage mailing list subscriptions.

However, `npx mailing deploy` is kind of clunky and while writing [the docs for deploying your preview server](https://github.com/sofn-xyz/mailing/blob/main/docs/DEPLOY.md), we decided it shouldn't be the r

[2022-10-20 17:45] psugihara commented on #164
Think we stumbled on a simple fix...
https://github.com/sofn-xyz/mailing/pull/278

[2022-10-20 19:43] psugihara commented on #276
Thanks for making an issue!

Effects are not supported because we just perform a single render to html and send the result. The component is never "mounted" exactly and props never change on the client because the client just gets html.

What would you like the effect to do? Perhaps we can brainstorm another way to accomplish what you're trying to do.

[2022-10-20 20:32] psugihara commented on #276
Oh, that's a neat use-case I've never thought of.

I don't think there's a way to accomplish this currently, but we've had a few requests for being able to edit props in the GUI and I'd like to support it.

For your use-case it sounds like we need...
1. an easy way to edit props in the GUI
2. a way to do something with those props before rendering

Feature 1 needs some design (@monicakogler <3) bu

[2022-10-20 20:55] klapec commented on #276
I've seen https://github.com/sofn-xyz/mailing/issues/136 and I think it would indeed solve my issue - I'd be able to create a separate page within my main Next.js app that would talk with the _mailing_ API and allow the user to generate html (and even then preview it) based on some arbitrary data passed in via POST request body as the email template props. That should actually work just fine for u

[2022-10-20 22:09] psugihara commented on #276
Ok sounds good! We'll get that into tomorrow's release. Should be quick. I'll ping back on this thread once it's released.

[2022-10-21 01:56] #276 closed

[2022-10-21 01:56] #136 closed

[2022-10-21 01:59] alexfarrill commented on #276
@klapec I just release 0.8.8 which supports POST to the /api/render method.  Hopefully this unblocks you!  Let us know

[2022-10-21 07:15] klapec commented on #276
@alexfarrill I can confirm your change works as expected. Thank you for the blazing fast🚀 response! 🙂

[2022-10-21 13:40] psugihara commented on #276
hell yes. ty @alexfarrill !

[2022-10-21 15:51] psugihara commented on #164
fixed in 0.8.8

thanks all!

[2022-10-21 15:51] #164 closed

[2022-10-22 02:23] psugihara opened #284 "Linter to ensure template components are named correctly"
For collecting performance metrics about a template, we want to make sure templates and files are named the same thing.

Let's lint and throw friendly errors on 2 occasions:
- `npx mailing server build` should lint all templates
- when a preview is fetched in NODE_ENV=development

## Good ones

MyComponent.jsx
[code]

MyComponent.jsx
[code]

## Bad ones

MyComponent.jsx
[code]

MyComponent.jsx
[co

[2022-10-22 17:08] psugihara opened #285 "Setup staging/preview database 👯"
For the new DB features, we need a staging/preview db setup. Those were pointing at prod 👻 so I just removed the env vars in that environment. Naturally, this breaks previews.

In the near future (when we're ready to onboard users onto those features) we'll also want a recommendation for how to do this in a project using mailing.

[2022-10-22 17:30] psugihara commented on #285
kk I set one up for web; staging and preview share for now.

Punting for CLI / mailing-dynamic-demo since that should work without a db too.

[2022-10-22 17:30] #285 closed

[2022-10-23 03:24] maxsalven opened #286 "Install instructions don't work with yarn 3"
[code]

[code]

[code]

Everything works fine with yarn 1.

[2022-10-23 16:18] psugihara commented on #138
closing in favor of user implementation in #204

[2022-10-23 16:18] #138 closed

[2022-10-23 16:55] psugihara commented on #150
I've heard this request from a few more users now and after using mdx a bit have a better idea of how this could work. Would love some feedback on whether this design would be useful to people:

- Add `templateName?: string` and `props?: any` to `sendMail`'s [`ComponentMail` arg type](https://github.com/sofn-xyz/mailing/blob/main/packages/core/src/index.ts#L10)

[code]

With this API design we mak

[2022-10-23 17:22] psugihara commented on #286
Thanks for opening an issue @maxsalven and sorry about that. Would love to support yarn 3 if any outside contributors have time to work on this. It's on our list but not high priority at the moment because it seems like most people are still on yarn 1.

If we do fix support, it should be easy to add an e2e test suite for it (@alexfarrill and @elliothursh can help there).

[2022-10-24 18:26] nycgio commented on #187
I am also getting this error on windows machine did anyone find out a solution?

[2022-10-25 19:05] psugihara commented on #277
I did a little more investigation and I'm not sure how to get the vercel button working for this. The main problem is that the deploy button urls actually clone the specified directory before deploying it. I understand why this is the common case, but in our case we want to just specify an existing repo + config to deploy because most users will install mailing inside of their apps before deployin

[2022-10-25 21:30] #272 closed

[2022-10-25 21:37] alexfarrill opened #289 "unsub page"
A page where you can unsub from lists, we will later include this in a magic link that you can import to your email templates

[2022-10-26 02:38] #284 closed

[2022-10-26 17:17] psugihara opened #291 "HTML validator: warn on bad urls in HTML"
A common error when developing emails is including links to localhost or without a host.

Let's:
1. design a little warning system in the preview viewer to surface these errors to the developer
2. implement a validator for this kind of error (we can add more later)
3. also run the html validator when `npx mailing export-previews` is run and surface the warnings

Example errors

[code]

[2022-10-26 18:46] alexfarrill commented on #187
Unfortunately, I have not found a solution to this, but I can give you some notes on what I had tried debugging:
- I was speculating it may have to do with mixing `/` and `\` in those paths on Windows in the modulManifest.js file, which is generated by setup.ts.  However, in setup.ts we're using `import { resolve, posix, relative } from "path";` which should choose the proper file delimeter for ea

[2022-10-26 19:07] #50 closed

[2022-10-26 22:11] alexfarrill commented on #289
## unsub tsx
url: /unsubscribe/[memberId]
- [ ] get the listMember or 404 if it's not found
- [ ] render the list of lists that can be unsubscribed
- [ ] get the email's status for each list
- [ ] always render an unsubscribe all
- [ ] do the right thing when the form is submitted
- [ ] show a thank you message when the form is submitted
- [ ] add a noindex header to this page

## magic link
tbd..

[2022-10-27 15:35] psugihara opened #293 "Dogfood / create example templates: Fynn"
http://fynn-mailing.vercel.app

[2022-10-27 15:36] psugihara opened #294 "If you make an empty preview file, mailing breaks"
<img width="1155" alt="Screenshot 2022-10-27 at 8 35 35 AM" src="https://user-images.githubusercontent.com/282016/198334437-975dcd80-3d08-4b3e-a371-b8badff86007.png">

Expected
Never crash! Just ignore the preview file if it's empty.

[2022-10-27 17:19] psugihara commented on #291
<img width="2053" alt="Screenshot 2022-10-27 at 10 18 55 AM" src="https://user-images.githubusercontent.com/282016/198356699-0fe8c89b-a151-47fb-b293-87e56eefbc72.png">

[2022-10-28 16:02] psugihara commented on #276
Hey @davidgustys! Awesome to hear you guys are finding mailing useful. Chime in here https://github.com/sofn-xyz/mailing/discussions/121 if you have a minute. I'd love to understand use-cases better to prioritize the backlog.

In theory I would like to support hooks, but don't have a clear idea of how we'd do it simply. Beyond what you mention, another advantage of doing rendering in the browser w

[2022-10-28 20:31] psugihara opened #297 "If you make a reference error (use something without importing), you need to refresh manually"
We should catch reference errors and keep the livereload going. We can show it in the PreviewViewer like MjmlErrors.tsx.

[2022-10-28 22:48] #257 closed

[2022-10-29 01:04] Ziothh opened #300 "PNPM import error when starting dev server"
**Describe the bug**
When I run `npx mailing`I get this error:

**To Reproduce**
Running `npx mailing` when you have a NextJS app in the root folder with node_modules installed by PNPM

**Desktop (please complete the following information):**

- OS: MacOS Monterey

[2022-10-31 12:01] orenmizr opened #301 "Errors running getting started guide"
**Describe the bug**
setup the project. run. exception fired.

**To Reproduce**
npm init
npm install --save mailing mailing-core next
npm install --save react react-dom
npx mailing init

failed on win/ubuntu

**workaround**: installed next12 and react17 -> worked.

[2022-10-31 17:33] #294 closed

[2022-10-31 19:56] #293 closed, assigned to elliothursh

[2022-10-31 19:56] psugihara commented on #293
https://github.com/sofn-xyz/fynn-mailing 🎊

[2022-10-31 22:12] psugihara commented on #301
Hey @orenmizr, sorry for the problems and thanks for creating an issue!

Our end-to-end CI tests are green on ubuntu with [next 13.0 and react 18.2.0](https://github.com/sofn-xyz/mailing/actions/runs/3363481051/jobs/5576685463) so perhaps we're missing something we should test for.

Are you running ubuntu locally or in CI? What version?

Does it also work with react18? We support 17 for compatibil

[2022-10-31 23:18] psugihara commented on #300
Hey @Ziothh, thanks for trying mailing and creating an issue! There are known issues with pnpm and yarn 3 (though I don't know root cause). Very happy to take outside PRs and setup e2e tests when we get it working but we haven't had time to prioritize yet since these package managers have relatively low usage.

[2022-11-02 16:52] #277 closed

[2022-11-03 09:05] davidgustys commented on #276
Hi @psugihara, sorry for the late reply, I had an extended weekend.

First of all, thank you for your prompt response.

As mentioned, currently because of your product requirements the "theme" changes based on "templateID"/"brandID" and because of that we are still kinda stateful. Having react context would allow us to basically have nicer less repeating code, and we would avoid the need of passin

[2022-11-03 15:24] psugihara commented on #276
Sounds good. Interested to hear about any good patterns you find as you use Mailing. Also interested in what you find with `mjml-browser` if you end up going in that direction. I'd like to add it as an option but I'm not sure how we'd do that.

I have used Next extensively, in fact Mailing uses it internally to render the UI in the preview server (but not the email previews because they use the mj

[2022-11-05 00:23] ESalih-Dev commented on #192
FWIW, I'm also facing this issue (also running a Remix app). Here's my `package.json`

[code]

The error is from `posthog-node` which looks to be a dependency of `mailing` and `mailing-core`

[2022-11-05 02:02] psugihara commented on #192
Thanks @ESalih-Dev will try to repro with your package.json. What OS and package manager are you using?

[2022-11-05 10:38] bebejane commented on #300
Quick workaround to get rid of the errors

pnpm i uglify-js encoding -D

Everything works with pnpm after installing these packages

[2022-11-05 16:27] psugihara commented on #300
Weird! I wonder why uglify-js isn't installed by the mjml dep in `mailing`'s  `package.json`.

I see this dependency chain in my yarn.lock
- mjml < mjml-cli < html-minifier < uglify-js

Not sure about encoding. I don't have that in my [yarn.lock](https://github.com/sofn-xyz/fynn-mailing/blob/main/yarn.lock).

[2022-11-05 22:16] klapec opened #312 "Cannot deploy to Vercel - max serverless function size reached"
After updating `mailing` to 0.8.13 I'm unable to deploy it on Vercel, I'm getting a following output:

[code]

It seems like Vercel complains specifically about `/api/apiKeys` page:
[code]

[2022-11-05 22:55] klapec commented on #312
Actually seems like it's not the `0.8.13` update BUT I'm also attempting to update nextjs to `13.0.2` and this causes the problem. Any idea why is that?
`mailing@0.8.12` vercel deployment also fails with the same error when coupled with `next@13.0.2`.

[2022-11-06 03:14] psugihara commented on #312
Uh oh, I haven't seen this yet, I'll take a look. Thanks for making an issue! We did just land a PR removing our direct dependency on swc, so perhaps that will help. Also, noticed that some test files are getting included in the bundle. Sounds like it's time for some cleanup.

[2022-11-06 04:01] psugihara commented on #312
Hey @klapec a couple questions.

I've tried to reproduce by upgrading [this repo](https://github.com/sofn-xyz/fynn-mailing/tree/bump-deps-11-5) to next 13 but I'm not seeing the issue you are.

How are you deploying?
Where do you get those error logs?
How are you running mailing? Is it inside of a next.js web app?

Thanks again for your help here.

[2022-11-06 13:13] klapec commented on #312
Thanks for the response. I'm deploying using the official Vercel <-> Github integration, I've got a `mailing`-based app within a monorepo. Nothing fancy - here's the relevant part of my app's package.json:
[code]

Here's the Vercel project's build step:
[code]

and the relevant part of the turborepo's config:
[code]
I'm seeing those errors within Vercel's deployment page:
<img width="984" alt="Zrz

[2022-11-07 16:13] psugihara commented on #312
awesome, will try with that config

[2022-11-07 19:26] elliothursh commented on #48
These are now running in CI thanks to these PRs.

- https://github.com/sofn-xyz/mailing/pull/250
- https://github.com/sofn-xyz/mailing/pull/263

[2022-11-07 19:26] #48 closed

[2022-11-07 20:01] psugihara commented on #312
Hey @klapec, still looking at this. I stood up a turborepo with a next app and it deployed pretty easily with your package.json so I'm a bit stumped. The one thing I didn't play with is the outputs in the turbo config because it seemed to just work. I wonder if that is including a bunch of extra junk in the cloud function.

Here's the repo: https://github.com/sofn-xyz/fat-turbo-bug

I'm not a turb

[2022-11-07 20:23] klapec commented on #312
Now try updating next to 13.0.2. This is when the bug happens for me.
As for the different turbo output - I need the ** glob otherwise mailing wouldn’t start when built from the turbo cache (caching .next is not enough as package.json is needed as well.)

[2022-11-07 20:43] psugihara commented on #312
No worries at all, appreciate the detailed help. I bumped next but still no failure. 🤔

[2022-11-07 20:44] psugihara commented on #312
I'll try with the glob thing.

[2022-11-07 22:26] #291 closed

[2022-11-07 23:48] alexfarrill opened #315 "Cypress integration tests should be able to run in watch mode"
with the server running in one tab and the cypress running in another tab so you don't have to start/stop the servers each time (slow)

[2022-11-08 00:18] crushingCodes opened #316 "mailing caught error Error: getaddrinfo ENOTFOUND smtp.example.com"
**Describe the bug**
Not able to get the test server to force send with the correct config settings, maybe im missing something.
I tried changing /emails/index.ts transport, but still getting the following error.

[code]

even with /emails/index.ts config
[code]

**To Reproduce**
Steps to reproduce the behavior:

I must be missing a config step, but i updated the transport config in the /emails/in

[2022-11-08 11:02] mauricedoepke opened #317 "Add independent env variable for testmode"
**Is your feature request related to a problem? Please describe.**
Mailings NODE_ENV usage conflicts with other packages. In local development I need to be able to set NODE_ENV=development and still be able to run the tests which intercept the email sending.

**Describe the solution you'd like**
Introduce an indepndent environment variable to force mailing into testmode that does not collide with

[2022-11-08 13:14] SSardorf opened #318 "Failed to load next.config.js"
**Describe the bug**
First time running `npx mailing` after installing causes the following error.
<img width="949" alt="image" src="https://user-images.githubusercontent.com/22572423/200573035-d5349913-8050-4115-bdfd-064b1492790a.png">

I definitely have a valid next.config.js

**To Reproduce**
Steps to reproduce the behavior:

1. install dependencies
2. run `npx mailing`

EDIT:
Note that I am ru

[2022-11-08 13:40] SSardorf commented on #318
Running `npx mailing preview` results in the following:

[code]

[2022-11-08 13:44] SSardorf commented on #318
Doing `npm install esbuild` seems to have fixed this

[2022-11-08 14:43] francofantini commented on #312
Hey! I got the same issue and solved it by upgrade to next@13.0.3-canary.0

[2022-11-08 16:24] klapec commented on #312
Didn't work for me, unfortunately. Bumped my `next` dependency to `13.0.3-canary.0` and I'm still getting the same error.

[2022-11-08 16:32] psugihara commented on #312
Dang! @klapec will you please try bumping the mailing and mailing-core version to latest as well (0.8.14)? One dependency was removed so perhaps it's smaller (though I still haven't been able to repro to confirm).

[2022-11-08 17:15] #312 closed

[2022-11-08 17:18] psugihara commented on #312
😭 😭 🍾

[2022-11-08 17:22] psugihara commented on #317
@mauricedoepke good idea. Would love a PR, thank you! 🌟

Can you please go with `MAILING_TEST_MODE` though? Using 2 words will align with `testMode` that is used in the same file.

[2022-11-08 17:39] psugihara commented on #316
Thanks for making an issue!

I was able to repro and I think I spotted the bug. Sorry about that.

Fixing shortly and will ping this thread upon release.

[2022-11-08 17:49] JLHasson opened #319 "Email drawer takes up entire screen"
**Describe the bug**
The email drawer on the left is taking up the entire screen, leading to desktop emails not displaying and the "send email" button being off screen:

![image](https://user-images.githubusercontent.com/2087380/200637780-4bac319c-d91c-4343-b638-1f34d576493e.png)

**To Reproduce**
Steps to reproduce the behavior:

1. yarn install
2. yarn mailing server build
3. yarn mailing server

[2022-11-08 19:42] SSardorf commented on #316
I'm having the same issue

[2022-11-08 19:44] SSardorf commented on #318
Not entirely sure why that would happen. Looking into it as well

[2022-11-08 22:25] psugihara commented on #319
Thanks for making this. Closing for now since you got unblocked with latest versions and we weren't able to repro. Please re-open if you still need help here though.

[2022-11-08 22:25] #319 closed

[2022-11-08 22:35] #316 closed

[2022-11-08 22:56] psugihara commented on #316
fixed in 0.8.15

thanks @SSardorf and @crushingCodes for finding this!

[2022-11-09 00:27] crushingCodes commented on #316
@psugihara thanks for sorting it out so fast

[2022-11-09 00:28] psugihara commented on #316
no problem, thx for reporting!

please lmk if you hit any other snags.

[2022-11-09 09:50] SSardorf opened #322 "422 on force send"
**Describe the bug**
I am getting a 422 error in the terminal when I force send.

I am also getting the following error popup:
<img width="441" alt="image" src="https://user-images.githubusercontent.com/22572423/200796345-e02f7ae9-58b7-4c69-a7ff-44ec71b6df68.png">

This is my API route that triggers the sending of the email
[code]

This is the my emails/index.ts
[code]

Finally, this is the previe

[2022-11-09 12:24] alexfarrill commented on #322
@SSardorf sorry to hear you are experiencing a problem. Are you using the latest mailing (0.8.15)?

[2022-11-09 12:25] SSardorf commented on #322
@alexfarrill Yes I am :)

[2022-11-09 17:39] psugihara commented on #322
Dang, sorry for the issue.

My guess is you're hitting getting the 422 in validateApiKey because it's not correctly early returning. The intent here is to protect your mailing server from spammers when it's deployed but open it up in dev.

<img width="1465" alt="Screenshot 2022-11-09 at 9 32 39 AM" src="https://user-images.githubusercontent.com/282016/200900449-35e49ceb-c52b-4d9b-8641-fbf0b0ac2c24

[2022-11-09 21:19] elie222 commented on #322
I also get the 422 issue

[2022-11-09 21:25] psugihara commented on #322
can repro, working on a fix 🏃

[2022-11-09 23:03] psugihara commented on #322
fix released in v0.8.16

Thanks @elie222 and @SSardorf for surfacing.

Feel free to re-open and/or ping me in the discord if you're still having problems.

[2022-11-09 23:03] #322 closed

[2022-11-10 18:35] psugihara opened #326 "docs/TURBOREPO.md for setting up mailing with turborepo"
A few people have asked how to do this. We should add a doc to `docs/`.

I think we want a setup where
1. you can deploy mailing as its own app easily
2. run the preview server locally
3. share email templates and mailing.config.json across apps

[2022-11-11 05:10] tpmh31292 opened #330 "Can't resolve "emails""
Hi, I add mailing to my current nextjs project and the `npx mailing` working and the preview server is up.

However, when I start my project and try to use `sendMail `from my nextjs API, I got an error `Module not found: Can't resolve 'emails'`

I have `import { sendMail } from 'emails'`

What do I need to do?

[2022-11-11 15:38] jbtheard opened #331 "How can I query a headless CMS to fetch data to be passed in Previews ?"
**Is your feature request related to a problem? Please describe.**
My emails content is currently stored in a headless CMS so that marketer can easily edit them.

**Describe the solution you'd like**
A way to retrieve content via GraphQL so that I can build previews with data from the CMS instead of mocking the data.

**Describe alternatives you've considered**
Manually copy/pasting result of quer

[2022-11-11 18:38] psugihara commented on #330
Hey @tpmh31292, thanks for trying mailing.

I'm guessing that is not the correct path to your emails directory in the import statement. If you correct that path to point to the emails directory (where index exports sendMail), it should work.

Feel free to ping me on discord if you need more help https://discord.com/invite/fdSzmY46wY

[2022-11-11 18:58] alexfarrill opened #332 "QOL cypress improvements"
- [ ] run in "open" mode
- [ ] separate cypress integration into server and cypress so we don't have to start the server every time in dev
- [ ] upload artifacts in github workflows
- [ ] when you call console.log in a cypress test, where does it log to?

[2022-11-11 19:08] psugihara commented on #331
I like this idea, @jbtheard! I've heard similar requirements a couple times now so I'd like to prioritize a solution. I think we should support async Preview functions so that you could prepare whatever data you need.

That way you could do something like this....

[code]

Would that work for you?

We do a 1-pass render via mjml-react so hooks or more familiar react solutions are hard to implement

[2022-11-11 20:26] #315 closed

[2022-11-12 00:32] #330 closed

[2022-11-14 04:06] psugihara opened #335 "Fix failing cypress tests"
https://github.com/sofn-xyz/mailing/commits/main

[2022-11-14 15:00] jbtheard commented on #331
You're absolutely right; using a hook would feel more familiar but your suggestion would absolutely work and fit the need. I'm happy to test it if/when sth becomes available on the matter.
So happy this could land on the backlog soon!

[2022-11-14 17:43] #326 closed

[2022-11-14 23:22] psugihara commented on #312
Hey @klapec one more thought on this.

I believe you can move `mailing` to devDependencies and everything should work OK. If you need your "start" script in production you can use `npx next .mailing/.next` (but if you're deploying to vercel or netlify you won't need that).

[2022-11-15 22:08] psugihara commented on #331
released in v0.8.18

LMK if you have any issues @jbtheard. Thanks for your help understanding the use-case!

[2022-11-15 22:08] #331 closed

[2022-11-15 23:25] alexfarrill opened #338 "detect typescript in redwood project"
mailing init currently detects typescript by looking for `./tsconfig.json`.  in a new redwood app, the tsconfig is in the `web` subdirectory.  make it so that we correctly detect typescript for redwood projects.

[2022-11-15 23:32] alexfarrill commented on #338
- [ ] add a test that reads mailing.config.json and fails if it is a typescript project but the "typescript" key is false (and vice versa)

[2022-11-16 15:06] jbtheard commented on #331
I confirm that's working brilliantly! Thanks a lot, really helpful.
Now very close to being able to create emails on my headless CMS and automatically update template in my CRM

[2022-11-16 16:10] psugihara commented on #331
Very cool. Would love to read a mini write-up about your setup if you ever have the chance to document how you're doing it!

[2022-11-17 17:32] psugihara opened #342 "Mailing Lists: broadcast"
List broadcast will allow you to send to every subscriber of a List.

To broadcast to a list,

[code]

List broadcast emails have unique HTML per recipient and must contain personalized unsubscribe links.

The server validates that
- if `broadcast` is specified then `to`, `cc`, `bcc` should NOT be specified and vice versa.
- the component has an email prefs / unsubscribe link

[2022-11-17 17:34] psugihara opened #343 "mailing.run/docs"

[2022-11-17 17:42] monicakogler opened #344 "TP + LS QA"
# TP

possible to put padding on the head and subheads to constrain the width of the text on desktop? if not, maybe line break on desktop?

**survey, new match**

- [ ] desktop head px: 32px
- [x] OR desktop line break after gift/s

**upcoming**

- [x] desktop subhead px: 84px

**footer**

- [x] mobile: line break after “Need help?”

# LS

**footer**

- [x] terms/privacy/contact should be fontweig

[2022-11-18 11:00] jbtheard commented on #331
Will definitely try to take time to do that! (likely next week though)

[2022-11-18 11:12] jbtheard opened #348 "Streamline CMS > Mailing > CRM"
**Is your feature request related to a problem? Please describe.**
For people managing their emails in a CMS, there is a lot of copy and paste involved:
- take the subject + preheader from CMS and paste it into the CRM
- take the html code from Mailing and paste in into the CRM

**Describe the solution you'd like**
I actually have 2, possibly unrelated suggestions:
- ability to handle Subject and

[2022-11-18 18:09] psugihara commented on #348
👍 thanks for the issue! Subject handling is on my radar. I think a good way to do it would be an optional function on the template. This way the template code all lives in one place for that email.

Then `sendMail` could use this if no subject were passed into a `sendMail` call and we could render it when rendering a preview.

We could do the same with preheader.

[code]

Do you think that would w

[2022-11-19 15:55] #335 closed

[2022-11-19 19:29] psugihara opened #350 "/signup works but redirects to 404 on success"
<img width="1226" alt="Screenshot 2022-11-19 at 11 27 23 AM" src="https://user-images.githubusercontent.com/282016/202868139-4322affb-2726-4740-8895-abbe08d2dd5c.png">

[2022-11-20 02:07] alexfarrill commented on #350
is this in cypress tests or when running dev?
I think /signup should 301 to /settings if you have created an account (instead of 404).  would that solve the problem?

[2022-11-20 02:38] psugihara commented on #350
yeah I saw it in dev. Agree that behavior seems good.

[2022-11-20 15:43] #350 closed

[2022-11-21 17:14] psugihara commented on #344
- [x] TP
- [ ] LS

[2022-11-21 17:43] #344 closed

[2022-11-21 17:53] psugihara commented on #318
Closing for now, think we resolved the initial issue.

[2022-11-21 17:53] #318 closed

[2022-11-21 18:27] psugihara opened #352 "OG meta image and text for mailing deploys should be configurable"
<img width="397" alt="Screenshot 2022-11-21 at 10 26 47 AM" src="https://user-images.githubusercontent.com/282016/203131968-0dfb6ce6-a42a-4338-bfe2-bc54fe229434.png">

[2022-11-22 15:13] psugihara opened #356 "Add /docs guide for setting up mailing with a django/non-node app"
Getting a few questions on this. It would be great to have a dedicated guide to point to.

[2022-11-22 16:19] psugihara opened #357 "PreviewSender should show a helpful message when your transport is not connected"
I thought we used to do this, but now it seems to just error silently. Let's have it show an error and link to docs.

[2022-11-22 16:28] psugihara opened #358 "sendMail doc"
Add a doc to the Reference section that goes more in-depths on `sendMail`:

- buildSendMail options
  - defaultFrom
  - configPath
  - transport
- configuring your transport
  - recommended email service providers
  - using env variables for secrets
- sendMail options
  - component
  - html override
  - REST api
  - list

[2022-11-22 16:42] #343 closed

[2022-11-22 17:01] alexfarrill commented on #357
I think it may just not work correctly in the case where the Response is not JSON (The server should catch an error from nodemailer and return address on error instead of HTML)

[2022-11-23 00:30] #357 closed

[2022-11-23 00:31] alexfarrill commented on #358
@psugihara close?

[2022-11-23 00:31] #358 closed

[2022-11-23 21:38] psugihara opened #366 "Add /docs guide for writing email templates with mailing / mjml-react"
url: /docs/building-react-email-templates

- MJML components
  - What's mjml
  - How to use mjml-react, how to use mjml docs
  - When to MJMLRaw
  - Compatible html
    - caniemail.com
- Using a layout component
- Adding subject
- Adding preheader text

[2022-11-24 11:03] frankdilo commented on #136
This should somehow be documented. We nearly missed it had we not looked at the issues.

[2022-11-24 11:48] Maxtremee opened #371 "Simple API key auth"
**Is your feature request related to a problem? Please describe.**
My team decided to rewrite our emails in mjml and use 'mailing' as preview and rendering engine that we'll self host. We do not plan to use any of the features requiring DB as we don't do mailing lists so we will be calling /api/render exclusively (also because we sometimes need to attach some files). We do, however, need an authen

[2022-11-26 03:08] psugihara commented on #371
Hey @Maxtremee that setup seems good, thanks for making the issue and sharing your code. I like this idea and your env variable solution in validateApiKey seems nice and simple.

One question... what's your reason to protect the render route?

We left it open on purpose because we thought:
- it leaks the same level of sensitive info as previews, which are convenient to keep public
- render is supe

[2022-11-27 09:47] Maxtremee commented on #371
I've created this issue after conversation with our BE developer. I guess the most important thing for him was to just have it protected in some way as it will be exposed to the internet. Biggest issue I can think of is impersonation. If someone figured out the props he needs to pass he could easily render templates, for example replace some links and send emails to users. Obviusly he could do the

[2022-11-28 19:32] alexfarrill opened #374 "posthog analytics on the frontend"

[2022-11-29 11:23] hehehai opened #380 "npx mailing run sever error"
**Describe the bug**
`npx mailing` error

**To Reproduce**
Steps to reproduce the behavior:

1. `pnpm add mailing-core`
2. `pnpm add -D mailing`
3. `npx mailing`
4. error not resolve miml-react, then i install `pnpm add mjml mjml-react`
5. `npx mailing` again got error

generator files successful, but server error

**Expected behavior**
A clear and concise description of what you expected to happe

[2022-11-29 16:48] #371 closed

[2022-11-29 16:58] alexfarrill commented on #380
@hehehai sorry if it was not clear, but Mailing does not currently support installation via pnpm.  npm and yarn 1.x are both supported.  I will update the docs to make that clearer and close this in favor of an issue describing the desired behavior -- "support install via pnpm".  That said, we'd love to get pnpm working -- pull requests welcome!  :)

[2022-11-29 16:59] alexfarrill opened #381 "Support install via pnpm"
You should be able to install mailing using pnpm.

Problems users have reported doing this today:

- https://github.com/sofn-xyz/mailing/issues/380
- https://github.com/sofn-xyz/mailing/issues/300

[2022-11-29 16:59] alexfarrill commented on #300
Closing in favor of https://github.com/sofn-xyz/mailing/issues/381  Pull requests welcome!

[2022-11-29 16:59] #300 closed

[2022-11-29 17:00] alexfarrill commented on #380
Closing in favor of https://github.com/sofn-xyz/mailing/issues/381  Pull requests welcome!

[2022-11-29 17:00] #380 closed

[2022-11-29 17:00] alexfarrill commented on #371
@Maxtremee I just release 0.9.2 which includes this option!  To use: set REQUIRE_API_KEY to "true" in your environment and then set MAILING_API_KEY to the api key / shared secret you'd like to use.  render will require that api key to be passed as a query string param or header.  See docs here: https://www.mailing.run/docs/rest-api#api-keys

[2022-11-29 18:36] Maxtremee commented on #371
Thank you so much!

[2022-11-29 18:50] alexfarrill opened #382 "Document /api/sendMail and improve usability"
- [ ] /docs should contain a description of the /api/sendMail endpoint and what optional and required arguments it takes
- [x] /api/sendMail should return a 422 instead of a 500 if no subject is present
- [x] /api/sendMail should return 422 where it is currently returning 403, 422 Unprocessable entity is a more appropriate error code for invalid form data.  403 - Forbidden should be used when the

[2022-11-30 18:06] pstoica opened #387 "Plain text"
**Is your feature request related to a problem? Please describe.**
I currently have two templates per email, one HTML and one plaintext. Auto-converting isn't ideal since links must be embedded (no anchors) and you may need to establish hierarchy a little differently (such as using text-based dividers).

**Describe the solution you'd like**
You should be able to define a single template with a pla

[2022-11-30 18:53] #289 closed

[2022-11-30 18:53] #217 closed

[2022-11-30 22:05] alexfarrill commented on #387
Thanks for the idea @pstoica , I think this could be implemented similarly to the way we do subjects on the templates right now (recent feature that is not documented yet, but you can see how it works in the example templates here: https://github.com/sofn-xyz/mailing/blob/ba094505506aa3c05f343bdc81c44b37e35a5177/packages/cli/src/generator_templates/js/emails/AccountCreated.jsx#L78 or in the tests